﻿@using Microsoft.AspNetCore.Http;
@using WeWonderGym.Controllers
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] WeWonderGym</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="css/linearicons.css">
    <link rel="stylesheet" href="css/owl.carousel.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/nice-select.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <header id="header">
        <div class="container">

            @if (UtilizadoresController.estaAutenticado(Context))
            {
                <div class="modal" id="sms">

                </div>
                <div class="row header-top align-items-center">
                    <div class="col-lg-4 col-sm-4 menu-top-left">
                        <span>
                            Bem-vindo @Context.Session.GetString("Email")!
                        </span>
                        @if (Context.Session.GetString("Perfil") != "Admin")
                        {
                            <a asp-controller="Utilizadores" asp-action="MenssagemIndex" id="mensagens"
                               data-ajax="true"
                               data-ajax-method="GET"
                               data-ajax-update="#modal"
                               data-ajax-mode="replace">
                                <i class="fa fa-envelope" style="font-size:38px;padding-top:2%;padding-left:10%;align-content:center"></i>
                            </a>
                        }
                    </div>
                    <div class="col-lg-4 menu-top-middle justify-content-center d-flex">
                        <img class="img-fluid" src="~/img/weWonderLogo.png" alt="" style="padding-bottom:15px;">
                    </div>
                    <div class="col-lg-4 col-sm-4 menu-top-right">
                        <a asp-controller="Utilizadores" asp-action="Logout">
                            <span>
                                Logout
                            </span>
                        </a>
                    </div>
                </div>
                if (Context.Session.GetString("Perfil") == "Admin")
                {

                    <div class="container">
                        <div class="row align-items-center justify-content-center d-flex">
                            <nav id="nav-menu-container">
                                <ul class="nav-menu">
                                    <li class="menu-has-children">
                                        <a asp-controller="Administradors" asp-action="IndexProfessor">Professores</a>
                                        <ul>
                                            <li><a asp-controller="Administradors" asp-action="ListProfessor">Lista de Professores</a></li>
                                            <li><a asp-controller="Administradors" asp-action="CreateProf">Adicionar Professor</a></li>
                                            <li><a asp-controller="Administradors" asp-action="ptProfessor">Personal Trainers</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-has-children">
                                        <a asp-controller="Administradors" asp-action="IndexAulas">Aulas de Grupo</a>
                                        <ul>
                                            <li><a asp-controller="Administradors" asp-action="ListAulas">Lista de Aulas</a></li>
                                            <li><a asp-controller="Administradors" asp-action="CreateAulas">Adicionar Aula</a></li>
                                            <li><a asp-controller="Administradors" asp-action="IndexMapaAulas">Criar Mapa Semanal</a></li>
                                        </ul>
                                    </li>
                                    <li><a asp-controller="Administradors" asp-action="ListSocios">Socios</a></li>
                                    <li><a asp-controller="Administradors" asp-action="ListExercicios">Exercicios</a></li>
                                    <li><a asp-controller="Administradors" asp-action="Index">Administradores</a></li>
                                    <li><a asp-controller="Administradors" asp-action="IndexGinasio">Ginasio</a></li>
                                </ul>
                            </nav><!-- #nav-menu-container -->
                        </div>
                    </div>
                }
                else if (Context.Session.GetString("Perfil") == "Professor")
                {
                    <div class="container">
                        <div class="row align-items-center justify-content-center d-flex">
                            <nav id="nav-menu-container">
                                <ul class="nav-menu">
                                    <li><a asp-controller="Professores" asp-action="IndexAulas">Aulas</a></li>
                                    <li class="menu-has-children">
                                        <a asp-controller="Professores" asp-action="IndexSociosPT">Sócios</a>
                                        <ul>
                                            <li><a asp-controller="Professores" asp-action="ListSociosPT">Sócios Personal Trainer</a></li>
                                            <li><a asp-controller="Professores" asp-action="Pesagem">Pesagem de Sócios</a></li>
                                        </ul>
                                    </li>

                                    <li><a asp-controller="Professores" asp-action="IndexPlanos">Planos</a></li>

                                    <li><a asp-controller="Professores" asp-action="IndexPerfil">Perfil</a></li>
                                </ul>
                            </nav><!-- #nav-menu-container -->
                        </div>
                    </div>
                }
                else
                {
                    <div class="container">
                        <div class="row align-items-center justify-content-center d-flex">
                            <nav id="nav-menu-container">
                                <ul class="nav-menu">
                                    <li><a asp-controller="Socios" asp-action="Historico">Perfil</a></li>
                                    <li><a asp-controller="Socios" asp-action="ListPlano">Plano de Treino</a></li>
                                    <li class="menu-has-children">
                                        <a asp-controller="Socios" asp-action="IndexPersonalTrainer">Personal Trainer</a>
                                        <ul>
                                            <li><a asp-controller="Socios" asp-action="PerfilPT">Personal Trainer Perfil</a></li>
                                            <li><a asp-controller="Socios" asp-action="ListProfessor">Requisitar um Personal Trainer</a></li>
                                        </ul>
                                    </li>
                                    <li><a asp-controller="Socios" asp-action="IndexAulaGrupo">Aulas de Grupo</a></li>
                                </ul>
                            </nav><!-- #nav-menu-container -->
                        </div>
                    </div>
                }
            }
            else
            {
                <div class="row header-top align-items-center">
                    <div class="col-lg-4 col-sm-4 menu-top-left">
                        <span>
                            We believe we help people for happier lives
                        </span>
                    </div>
                    <div class="col-lg-4 menu-top-middle justify-content-center d-flex">
                        <a asp-controller="Home" asp-action="Index">
                            <img class="img-fluid" src="img/weWonderLogo.png" alt="" style="padding-bottom:15px;">
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-4 menu-top-right" id="login">
                        <a class="genric-btn primary e-large" id="login" style="color:#ffffff;font-size:16px;">
                            Login
                        </a>
                    </div>
                    <div class="container">
                        <div class="row align-items-center justify-content-center d-flex">
                            <nav id="nav-menu-container">
                                <ul class="nav-menu">
                                    <li><a href="#offer">Ofertas</a></li>
                                    <li><a href="#top-course">Aulas</a></li>
                                    <li><a href="#schedule">Mapa de Aulas</a></li>
                                    <li><a href="#trainer">Treinadores</a></li>
                                    <li><a href="#aderir">Aderir</a></li>
                                    <li><a href="#contactos">Contactos</a></li>
                                </ul>
                            </nav><!-- #nav-menu-container -->
                        </div>
                    </div>
                </div>
            }
        </div>
    </header><!-- #header -->

    <div class="container" id="corpo">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2019 - WeWonderGym - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="js/vendor/jquery-2.2.4.min.js"></script>
    <script src="js/vendor/bootstrap.min.js"></script>
    <script src="js/easing.min.js"></script>
    <script src="js/hoverIntent.js"></script>
    <script src="js/superfish.min.js"></script>
    <script src="js/jquery.ajaxchimp.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.sticky.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/parallax.min.js"></script>
    <script src="js/waypoints.min.js"></script>
    <script src="js/jquery.counterup.min.js"></script>
    <script src="js/mail-script.js"></script>
    <script src="js/main.js"></script>
    <script src="~/lib/jquery-ajax-unobtrusive/dist/jquery.unobtrusive-ajax.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
