﻿@model IEnumerable<WeWonderGym.Models.Aula>
@{
    List<string> helper = new List<string>();
}


<div class="table-wrap col-lg-12">
    <table class="schdule-table table table-bordered">
        <thead class="thead-light">
            <tr>
                <th></th>
                <th class="head" scope="col">Aula</th>
                <th class="head" scope="col">Segunda</th>
                <th class="head" scope="col">Terça</th>
                <th class="head" scope="col">Quarta</th>
                <th class="head" scope="col">Quinta</th>
                <th class="head" scope="col">Sexta</th>
                <th class="head" scope="col">Sabado</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                @if (item.ValidadeDe < DateTime.Now.AddDays(6) && DateTime.Now < item.ValidadeAte)
                {
                    @if (helper.Contains(item.IdAulaGrupoNavigation.Nome) == false)
                    {
                        helper.Add(item.IdAulaGrupoNavigation.Nome);

                        <tr>
                            <th>
                                <img src="~/img/FotosAulas/@item.IdAulaGrupoNavigation.Foto" style="max-height:100px;max-width:100px;" />
                            </th>
                            <td>
                                @Html.DisplayFor(modelItem => item.IdAulaGrupoNavigation.Nome)
                            </td>
                            <td>
                                @foreach (var aula in Model)
                                {
                                    if (aula.IdAulaGrupoNavigation.Nome == item.IdAulaGrupoNavigation.Nome && aula.DiaDaSemana == "Segunda" && aula.ValidadeDe < DateTime.Now.AddDays(6) && DateTime.Now < aula.ValidadeAte)
                                    {
                                        <span>@aula.Hora</span> <br />
                                    }
                                }
                            </td>
                            <td>
                                @foreach (var aula in Model)
                                {
                                    if (aula.IdAulaGrupoNavigation.Nome == item.IdAulaGrupoNavigation.Nome && aula.DiaDaSemana == "Terça"  && aula.ValidadeDe < DateTime.Now.AddDays(6) && DateTime.Now < aula.ValidadeAte)
                                    {
                                        <span>@aula.Hora</span> <br />
                                    }
                                }
                            </td>
                            <td>
                                @foreach (var aula in Model)
                                {
                                    if (aula.IdAulaGrupoNavigation.Nome == item.IdAulaGrupoNavigation.Nome && aula.DiaDaSemana == "Quarta"  && aula.ValidadeDe < DateTime.Now.AddDays(6) && DateTime.Now < aula.ValidadeAte)
                                    {
                                        <span>@aula.Hora</span> <br />
                                    }
                                }
                            </td>
                            <td>
                                @foreach (var aula in Model)
                                {
                                    if (aula.IdAulaGrupoNavigation.Nome == item.IdAulaGrupoNavigation.Nome && aula.DiaDaSemana == "Quinta" && aula.ValidadeDe < DateTime.Now.AddDays(6) && DateTime.Now < aula.ValidadeAte)
                                    {
                                        <span>@aula.Hora</span> <br />
                                    }
                                }
                            </td>
                            <td>
                                @foreach (var aula in Model)
                                {
                                    if (aula.IdAulaGrupoNavigation.Nome == item.IdAulaGrupoNavigation.Nome && aula.DiaDaSemana == "Sexta" && aula.ValidadeDe < DateTime.Now.AddDays(6) && DateTime.Now < aula.ValidadeAte)
                                    {
                                        <span>@aula.Hora</span> <br />
                                    }
                                }
                            </td>
                            <td>
                                @foreach (var aula in Model)
                                {
                                    if (aula.IdAulaGrupoNavigation.Nome == item.IdAulaGrupoNavigation.Nome && aula.DiaDaSemana == "Sabado" && aula.ValidadeDe < DateTime.Now.AddDays(6) && DateTime.Now < aula.ValidadeAte)
                                    {
                                        <span>@aula.Hora</span> <br />
                                    }
                                }
                            </td>
                        </tr>
                    }
                }
            }
        </tbody>
    </table>
</div>

