﻿@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model WeWonderGym.Models.LoginUtilizador

<div class="modal-dialog" style="padding-top:15%;">
    <div class="modal-content" style="max-width:300px;left:20%">
        <h4>Redefinição da Password</h4>
        <form asp-action="ConfirmSocio" asp-controller="Utilizadores"
              data-ajax="true"
              data-ajax-method="POST"
              data-ajax-update="#modal"
              data-ajax-mode="replace"
              data-ajax-sucess="sucesso">
            <input name="email" value="@Model.Email" type="hidden" />
            <div class="form-group">
                <label class="control-label">Nova Password</label>
                <input class="form-control" type="password" name="pass" id="pass" required />
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Repetir Password</label>
                <input class="form-control" type="password" name="Repass" id="Repass" required />
                <span class="text-danger"></span>
            </div>
            @if (ViewBag.Sucesso == "erro")
            {
                <span style="color:#ff0000;font-size:14px;align-content:center;">As Passwords não coincidem, por favor tente outra vez.</span>
            }
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div><!-- /.modal-dialog -->