﻿@model WeWonderGym.Models.Utilizador
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="modal-dialog" style="padding-top:15%;"id="box">
    <div class="modal-content" style="padding-top:2%;padding-bottom:2%;padding-left:2%;padding-right:2%;">
         @if(ViewBag.Sucess == "sucesso"){
             <span style="color:#148b3e;font-size:14px;align-content:center;"> O seu pedido foi enviado com sucesso!</span>
         }
        <form asp-action="Create" enctype="multipart/form-data"
              data-ajax="true"
              data-ajax-method="POST"
              data-ajax-update="#box"
              data-ajax-mode="replace">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NumTelefone" class="control-label"></label>
                <input asp-for="NumTelefone" class="form-control" required />
                <span asp-validation-for="NumTelefone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" required />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fotografica" class="control-label"></label>
                <input asp-for="Fotografica" type="file" accept="image/*" class="form-control" required />
                <span asp-validation-for="Fotografica" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sexo" class="control-label"></label>
                <select asp-for="Sexo" class="form-control">
                    <option value="Masculino">Masculino</option>
                    <option value="Feminino">Feminino</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" required />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="PalavraPass" type="hidden" class="form-control" required />
            </div>
            <div class="form-group">
                <label class="control-label"> Altura</label>
                <input name="Altura" class="form-control" required />
                <span  class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Submeter" class="genric-btn primary circle arrow" />
            </div>
        </form>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->