﻿@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="modal-dialog" style="padding-top:15%;">
    <div class="modal-content" style="max-width:300px;left:20%">
        <form asp-action="ForgotPass" asp-controller="Utilizadores"
              data-ajax="true"
              data-ajax-method="POST"
              data-ajax-update="#modal"
              data-ajax-mode="replace">
            <div class="form-group">
                <label class="control-label">Email</label>
                <input class="form-control" type="email" name="email" id="email" />
                <span class="text-danger"></span>
            </div>
            @if (ViewBag.Sucesso == "erro")
            {
                <span style="color:#ff0000;font-size:14px;align-content:center;">O email inserido não se encontra registado, verifique e tente novamente.</span>
            }
            <div class="form-group">
                <input type="submit" value="Enviar Email" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div><!-- /.modal-dialog -->