﻿@model WeWonderGym.Models.LoginUtilizador
@{
    Layout = null;
}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            background-color: #808080;
        }

        * {
            box-sizing: border-box;
        }


        /* Add styles to the form container */
        .form-container {
            max-width: 300px;
            padding: 10px;
            background-color: white;
        }

            /* Full-width input fields */
            .form-container input[type=text], .form-container input[type=password] {
                width: 100%;
                padding: 15px;
                margin: 5px 0 22px 0;
                border: none;
                background: #f1f1f1;
            }

                /* When the inputs get focus, do something */
                .form-container input[type=text]:focus, .form-container input[type=password]:focus {
                    background-color: #ddd;
                    outline: none;
                }

            /* Set a style for the submit/login button */
            .form-container .btn {
                background-color: #4CAF50;
                color: white;
                padding: 16px 20px;
                border: none;
                cursor: pointer;
                width: 100%;
                margin-bottom: 10px;
                opacity: 0.8;
            }

            /* Add a red background color to the cancel button */
            .form-container .cancel {
                background-color: red;
            }

            /* Add some hover effects to buttons */
            .form-container .btn:hover, .open-button:hover {
                opacity: 1;
            }
    </style>

    <link rel="stylesheet" href="~/css/bootstrap.css">
</head>


<div class="modal-dialog" style="padding-top:15%;" id="box">
    <div class="modal-content" style="max-width:300px;left:20%">
        <form asp-action="Login" method="post" class="form-container"
              data-ajax="true"
              data-ajax-method="POST"
              data-ajax-update="#box"
              data-ajax-mode="replace"
              data-ajax-sucess="sucesso">
            <h1>Login</h1>
            <div asp-validation-summary="ModelOnly" class="text-danger" data-valmsg-summary="true"></div>
            <div class="form-group">
                <label class="control-label">Email</label>
                <input type="text" name="Email" placeholder="Insira o Email" required />.
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Password</label>
                <input type="password" name="Password" placeholder="Insira a password" required />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Entrar" class="btn btn-primary" />
                <button type="button" value="Close" class="btn cancel" data-dismiss="modal">Fechar</button>
            </div>
        </form>
        <a class="btn btn-primary forgot" style="color:#ffffff" id="forgot">Esqueceu-se da Password?</a>
    </div>
</div><!-- /.modal-dialog -->

<script>
    $(document).ready(
        function sucesso() {
            @if(ViewBag.sucess == "true")
            {
                if(ViewBag.Perfil == "Socio")
                {
                     @:window.location.href = "/Socios/Historico"

                }else if(ViewBag.Perfil == "Professor")
                {
                    @:window.location.href="/Professores/IndexPerfil"
                }
                else
                {
                   @:window.location.href="/Administradors/IndexGinasio"
                }

            }

        }
    );

</script>
<script>
    $(function () {
        $(".forgot").click(function () {
            $("#modal").load("Utilizadores/ForgotPass", function () {
                $("#modal").modal();
            })
        });
    })
</script>

