﻿<div class="modal-dialog" style="padding-top:15%;" id="box">
    <div class="modal-content" style="padding-top:2%;padding-bottom:2%;padding-left:2%;padding-right:2%;">
        <h3>Seja muito bem bem-vindo!</h3>
        <button></button>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->