﻿@model IEnumerable<WeWonderGym.Models.Mensagem>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    string assunto = "";
}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            font-family: Arial;
        }

        /* Style the tab */
        .tab {
            overflow: hidden;
            border: 1px solid #ccc;
            background-color: #f1f1f1;
        }

            /* Style the buttons inside the tab */
            .tab button {
                background-color: inherit;
                float: left;
                border: none;
                outline: none;
                cursor: pointer;
                padding: 14px 16px;
                transition: 0.3s;
                font-size: 17px;
            }

                /* Change background color of buttons on hover */
                .tab button:hover {
                    background-color: #ddd;
                }

                /* Create an active/current tablink class */
                .tab button.active {
                    background-color: #ccc;
                }

        /* Style the tab content */
        .tabcontent {
            display: none;
            padding: 6px 12px;
            border: 1px solid #ccc;
            border-top: none;
        }
    </style>
</head>

<div class="modal-dialog" style="padding-top:15%;" id="caixa">
    <div class="modal-content" style="width:630px">
        <div class="tab">
            <button class="tablinks" onclick="openCity(event, 'Recebidas')">Recebidas</button>
            <button class="tablinks" onclick="openCity(event, 'Enviadas')">Enviadas</button>
            <button class="tablinks" onclick="openCity(event, 'Mensagem')">Nova Mensagem</button>
            <button class="tablinks" onclick="openCity(event, 'Arquivadas')">Arquivadas</button>
        </div>

        <!-- Tab content -->
        <div id="Recebidas" class="tabcontent">
            <table class="schdule-table table table-bordered">
                <thead class="thead-light">
                    <tr>
                        <th class="head" scope="col">De</th>
                        <th class="head" scope="col">Recebida a</th>
                        <th class="head" scope="col">Assunto</th>
                        <th class="head" scope="col">Estado</th>
                        <th class="head" scope="col">Opções</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model)
                    {
                        @if (ViewBag.UserEmail == item.UtilizadorParaNavigation.Email && !item.Arquivada)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UtilizadorDeNavigation.Email)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DataRecebido)
                                </td>
                                <td>
                                    <a asp-action="ShowMensagemPartial" asp-controller="Utilizadores" asp-route-id="@item.IdMensagem"
                                       data-ajax="true"
                                       data-ajax-method="GET"
                                       data-ajax-update="#caixa"
                                       data-ajax-mode="replace"
                                       data-ajax-sucess="sucesso">
                                        @(assunto = item.Texto.ToString().Substring(0, 3))
                                    </a>
                                </td>
                                <td>
                                    @if (item.Lida == false)
                                    {
                                        <span>Não lida</span>
                                    }
                                    else
                                    {
                                        <span>Lida</span>
                                    }
                                </td>
                                <td>
                                    <a asp-action="ArquivarMensagem" asp-controller="Utilizadores" asp-route-id="@item.IdMensagem"
                                       data-ajax="true"
                                       data-ajax-method="GET"
                                       data-ajax-update="#caixa"
                                       data-ajax-mode="replace"
                                       data-ajax-sucess="sucesso">
                                        Arquivar
                                    </a>
                                </td>
                            </tr>
                        }

                    }
                </tbody>
            </table>
        </div>

        <div id="Enviadas" class="tabcontent">
            <table class="schdule-table table table-bordered">
                <thead class="thead-light">
                    <tr>
                        <th class="head" scope="col">Para</th>
                        <th class="head" scope="col">Enviada a</th>
                        <th class="head" scope="col">Assunto</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        @if (ViewBag.UserEmail == item.UtilizadorDeNavigation.Email)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UtilizadorParaNavigation.Email)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DataRecebido)
                                </td>
                                <td>
                                    <a asp-action="ShowMensagemPartial" asp-controller="Utilizadores" asp-route-id="@item.IdMensagem"
                                       data-ajax="true"
                                       data-ajax-method="POST"
                                       data-ajax-update="#caixa"
                                       data-ajax-mode="replace"
                                       data-ajax-sucess="sucesso">
                                        @(assunto = item.Texto.ToString().Substring(0, 3))
                                    </a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>

        <div id="Mensagem" class="tabcontent">
            <form asp-action="EnviarMensagem" asp-controller="Utilizadores"
                  data-ajax="true"
                  data-ajax-method="POST"
                  data-ajax-update="#caixa"
                  data-ajax-mode="replace"
                  data-ajax-sucess="sucesso">
                @if (ViewBag.sucess == "yes")
                {
                    <span style="color:#148b3e;font-size:14px;align-content:center;"> A sua mensagem foi enviada com sucesso!</span>
                }
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label class="control-label">Para:</label>
                    <select name="UtilizadorPara" class="form-control" asp-items="ViewBag.UtilizadorPara"></select>
                </div>
                <div class="form-group">
                    <label class="control-label">Texto</label>
                    <textarea name="Texto" class="form-text" style="height:250px;width:565px;" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Enviar" class="genric-btn primary circle arrow" />
                </div>
            </form>
        </div>

        <div id="Arquivadas" class="tabcontent">
            <table class="schdule-table table table-bordered">
                <thead class="thead-light">
                    <tr>
                        <th class="head" scope="col">De</th>
                        <th class="head" scope="col">Recebida a</th>
                        <th class="head" scope="col">Assunto</th>
                        <th class="head" scope="col">Estado</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        @if (item.Arquivada && ViewBag.UserEmail == item.UtilizadorParaNavigation.Email)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UtilizadorDeNavigation.Email)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DataRecebido)
                                </td>
                                <td>
                                    <a asp-action="ShowMensagemPartial" asp-controller="Utilizadores" asp-route-id="@item.IdMensagem"
                                       data-ajax="true"
                                       data-ajax-method="POST"
                                       data-ajax-update="#caixa"
                                       data-ajax-mode="replace"
                                       data-ajax-sucess="sucesso">
                                        @(assunto = item.Texto.ToString().Substring(0, 3))
                                    </a>
                                </td>
                                <td>

                                    @if (item.Lida == false)
                                    {
                                        <span>Não lida</span>
                                    }
                                    else
                                    {
                                        <span>Lida</span>
                                    }

                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    function openCity(evt, cityName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " active";
    }
</script>
</div><!-- /.modal-dialog -->
