﻿@model WeWonderGym.Models.Mensagem

<div class="modal-dialog" style="padding-top:15%;" id="caixa">
    <div class="modal-content">
        <div class="row">
            <div class="col-md-4" style="padding-left:10%">
                <form>
                    <div asp-validation-summary="ModelOnly" class="text-danger" ></div>
                    <div class="form-group">
                        <label class="control-label">Para: @Model.UtilizadorParaNavigation.Email</label>
                        <label class="control-label">De: @Model.UtilizadorDeNavigation.Email</label>
                        <label class="control-label">Enviado: @Model.DataEnvio</label>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Texto</label>
                        <textarea name="Texto" placeholder="@Model.Texto" class="form-text" style="height:250px;width:430px; resize:none;" readonly />
                    </div>
                    <div class="form-group">
                        <button type="button" value="Close" class="genric-btn primary circle arrow" data-dismiss="modal">Fechar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
