﻿@model WeWonderGym.Models.Utilizador

@{
    Layout = null;
    ViewBag.Title = "Details";
}
<head>
    <link rel="stylesheet" href="~/css/bootstrap.css">
</head>
<body>
    <div class="modal-dialog" style="padding-top:15%;">
        <div class="modal-content" style="padding-top:2%;padding-bottom:2%;padding-left:2%;padding-right:2%;">
            <form asp-action="AlterarUtlEstado" asp-controller="Administradors" 
                  data-ajax="true"
                  data-ajax-method="POST"
                  data-ajax-mode="replace"
                  data-ajax-update="#tabela">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="IdUtilizador" value="@Model.IdUtilizador" />

                <div class="form-group">
                    <label asp-for="EstadoMotivo" class="control-label"></label>
                    <input asp-for="EstadoMotivo" class="form-control" />
                    <span asp-validation-for="EstadoMotivo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Estado</label>
                    <select name="Estado" class="form-control">
                        <option value="1">Ativo</option>
                        <option value="0">Inativo</option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary"/>
                    <input type="button" value="Fechar" class="btn btn-default" data-dismiss="modal" />
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</body>
