﻿@model WeWonderGym.Models.Administrador
@{
    Layout = null;
}

<head>
    <link rel="stylesheet" href="~/css/bootstrap.css">
</head>


<div class="modal-dialog" style="padding-top:15%;" id="box">
    <div class="modal-content" style="padding-top:2%;padding-bottom:2%;padding-left:2%;padding-right:2%;">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PalavraPass" class="control-label"></label>
                <input asp-for="PalavraPass" type="password"   class="form-control" />
                <span asp-validation-for="PalavraPass" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Criar" class="genric-btn primary circle" />
                <input type="button" value="Cancelar" class="genric-btn info circle" data-dismiss="modal" />
            </div>
        </form>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
