﻿@model WeWonderGym.Models.Utilizador

@{
    ViewData["Title"] = "Create";
}

<!DOCTYPE html>
<html lang="zxx" class="no-js">
<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="~/img/elements/fav.png">
    <!-- Author Meta -->
    <meta name="author" content="colorlib">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>Adicionar Professor</title>

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
    <!--
    CSS
    ============================================= -->
    <link rel="/stylesheet" href="~/css/linearicons.css">
    <link rel="stylesheet" href="~/css/owl.carousel.css">
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/nice-select.css">
    <link rel="stylesheet" href="~/css/magnific-popup.css">
    <link rel="stylesheet" href="~/css/bootstrap.css">
    <link rel="stylesheet" href="~/css/main.css">
</head>
<body>
    <div class="main-wrapper">

        <!-- Start offer Area -->
        <section class="offer-area pt-100" id="offer">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="menu-content pb-70 col-lg-8">
                        <div class="title text-center">
                            <h1 id="listaProf"></h1>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <a asp-controller="Administradors" asp-action="ListProfessor">
                            <div class="single-offer">
                                <img class="img-fluid" src="~/img/o1.png" alt="">
                                <h4>Lista de Professores</h4>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4">
                        <a asp-controller="Administradors" asp-action="CreateProf">
                            <div class="single-offer">
                                <img class="img-fluid" src="~/img/o2.png" alt="">
                                <h4>Adicionar Professor</h4>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4">
                        <a asp-controller="Administradors" asp-action="ptProfessor">
                            <div class="single-offer">
                                <img class="img-fluid" src="~/img/o3.png" alt="">
                                <h4>Personal Trainers</h4>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <!-- End offer Area -->
        <!-- Start Generic Area -->
        <section class="about-generic-area section-gap">
            <div style="padding-left:15%;padding-right:15%;">
                <form asp-action="CreateProf" enctype="multipart/form-data">
                    @if (ViewBag.emailRepetido == "true")
                    {
                        <h4 style="color:red"> Erro: Email em uso!</h4>
                    }

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Nome" class="control-label"></label>
                        <input asp-for="Nome" class="form-control" required />
                        <span asp-validation-for="Nome" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Fotografica" class="control-label"></label>
                        <input asp-for="Fotografica" type="file" accept="image/*" class="form-control" required />
                        <span asp-validation-for="Fotografica" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Sexo" class="control-label"></label>
                        <select asp-for="Sexo" class="form-control">
                            <option value="Masculino">Masculino</option>
                            <option value="Feminino">Feminino</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label asp-for="NumTelefone" class="control-label"></label>
                        <input asp-for="NumTelefone" class="form-control" required />
                        <span asp-validation-for="NumTelefone" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" required />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PalavraPass" class="control-label"></label>
                        <input asp-for="PalavraPass" class="form-control" type="password" required />
                        <span asp-validation-for="PalavraPass" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Especialidade</label>
                        <input class="form-control" name="Especialidade" required />
                        <span class="text-danger"></span>
                    </div>
                    <div>
                        <input type="submit" value=" Adicionar" class="genric-btn primary circle arrow" />
                    </div>
                </form>
            </div>
        </section>
    </div>

    <div class="modal" id="modal">
    </div>
    <!-- End Generic Start -->
    <script src="~/js/vendor/jquery-2.2.4.min.js"></script>
    <script src="~/js/vendor/bootstrap.min.js"></script>
    <script src="~/js/easing.min.js"></script>
    <script src="~/js/hoverIntent.js"></script>
    <script src="~/js/superfish.min.js"></script>
    <script src="~/js/jquery.ajaxchimp.min.js"></script>
    <script src="~/js/jquery.magnific-popup.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/jquery.sticky.js"></script>
    <script src="~/js/jquery.nice-select.min.js"></script>
    <script src="~/js/jquery.counterup.min.js"></script>
    <script src="~/js/main.js"></script>
</body>
</html>

<script>
    $(function () {
        $("#mensagens").click(function () {
            $("#modal").load("Utilizadores/MenssagensIndex", function () {
                $("#modal").modal();
            })
        });
    })
</script>