﻿@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model WeWonderGym.Models.Utilizador

    <head>
        <!-- Mobile Specific Meta -->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Favicon-->
        <link rel="shortcut icon" href="~/img/elements/fav.png">
        <!-- Author Meta -->
        <meta name="author" content="colorlib">
        <!-- Meta Description -->
        <meta name="description" content="">
        <!-- Meta Keyword -->
        <meta name="keywords" content="">
        <!-- meta character set -->
        <meta charset="UTF-8">
        <!-- Site Title -->
        <title>Gym</title>

        <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
        <!--
    CSS
    ============================================= -->
        <link rel="/stylesheet" href="~/css/linearicons.css">
        <link rel="stylesheet" href="~/css/owl.carousel.css">
        <link rel="stylesheet" href="~/css/font-awesome.min.css">
        <link rel="stylesheet" href="~/css/nice-select.css">
        <link rel="stylesheet" href="~/css/magnific-popup.css">
        <link rel="stylesheet" href="~/css/bootstrap.css">
        <link rel="stylesheet" href="~/css/main.css">
    </head>
<body>
    <section class="generic-banner relative">
        <div class="container">
            <div class="row height align-items-center justify-content-center">
                <div class="col-lg-10">
                    <div class="generic-banner-content">
                        <h2 class="text-white">Detalhes</h2>
                        <img src="~/img/Fotos/@Model.Fotografica" style="max-height:500px;max-width:500px;" />
                        <p><br /><font color="black"><strong>Nome: </strong></font><font color="white"> @Model.Nome </font></p>
                        <p><font color="black"><strong>Email: </strong></font><font color="white"> @Model.Email</font></p>
                        <p><font color="black"><strong>Telefone: </strong></font><font color="white"> @Model.NumTelefone</font></p>
                        <p><font color="black"><strong>Especialidade: </strong></font><font color="white"> @Model.Professor.Especialidade</font></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>