﻿@model WeWonderGym.Models.Professor

@{
    Layout = null;
    ViewBag.Title = "Details";
}
    <head>
        <link rel="stylesheet" href="~/css/bootstrap.css">
    </head>
    <body>
        <div class="modal-dialog" style="padding-top:15%;">
            <div class="modal-content" style="padding-top:2%;padding-bottom:2%;padding-left:2%;padding-right:2%;">
                <form asp-action="EditProfessor" asp-controller="Administradors" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="IdUtilizador" value="@Model.IdUtilizador"/>
                    <input type="hidden" asp-for="IdProfessor" value="@Model.IdProfessor" />

                    <div class="form-group">
                        <label asp-for="Especialidade" class="control-label"></label>
                        <input asp-for="Especialidade" class="form-control" />
                        <span asp-validation-for="Especialidade" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Estado</label>
                        <select name="Estado" class="form-control">
                            <option value="1">Ativo</option>
                            <option value="0">Inativo</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                        <input type="button" value="Cancelar" class="btn btn-default" data-dismiss="modal" />
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </body>
