﻿@model WeWonderGym.Models.Aula

@{ 
    Layout = null;
}

<head>
    <link rel="stylesheet" href="~/css/bootstrap.css">
</head>
<body>
    <div class="modal-dialog" style="padding-top:15%;">
        <div class="modal-content" style="padding-top:2%;padding-bottom:2%;padding-left:2%;padding-right:2%;">
            <form asp-action="EditInstAula" asp-controller="Administradors">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="IdAdmin" />
                <input type="hidden" asp-for="IdAula" />

                <div class="form-group">
                    <label asp-for="IdProfessor" class="control-label"></label>
                    <select asp-for="IdProfessor" class="form-control" asp-items="ViewBag.IdProfessor"></select>
                    <span asp-validation-for="IdProfessor" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="IdAulaGrupo" class="control-label"></label>
                    <select asp-for="IdAulaGrupo" class="form-control" asp-items="ViewBag.IdAulaGrupo"></select>
                    <span asp-validation-for="IdAulaGrupo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Lotacao" class="control-label"></label>
                    <input asp-for="Lotacao" class="form-control" />
                    <span asp-validation-for="Lotacao" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ValidadeAte" class="control-label"></label>
                    <input asp-for="ValidadeAte" class="form-control" />
                    <span asp-validation-for="ValidadeAte" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ValidadeDe" class="control-label"></label>
                    <input asp-for="ValidadeDe" class="form-control" />
                    <span asp-validation-for="ValidadeDe" class="text-danger"></span>
                </div>
                <label asp-for="DiaDaSemana" class="control-label"></label>
                <select asp-for="DiaDaSemana" class="form-control">
                    <option value="Segunda">Segunda</option>
                    <option value="Terça">Terça</option>
                    <option value="Quarta">Quarta</option>
                    <option value="Quinta">Quinta</option>
                    <option value="Sexta">Sexta</option>
                    <option value="Sabado">Sabado</option>
                </select>
                <div class="form-group">
                    <label asp-for="Semana" class="control-label"></label>
                    <input asp-for="Semana" class="form-control" />
                    <span asp-validation-for="Semana" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Hora" class="control-label"></label>
                    <input asp-for="Hora" class="form-control" />
                    <span asp-validation-for="Hora" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Guardar" class="btn btn-primary" />
                    <input type="button" value="Cancelar" class="btn btn-default" data-dismiss="modal" />
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</body>
