﻿@model IEnumerable<WeWonderGym.Models.Aula>

@{
    ViewData["Title"] = "Mapa de Aulas";
}

<!DOCTYPE html>
<html lang="zxx" class="no-js">
<head>

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
    <!--
    CSS
    ============================================= -->
    <link rel="stylesheet" href="~/css/linearicons.css">
    <link rel="stylesheet" href="~/css/owl.carousel.css">
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/nice-select.css">
    <link rel="stylesheet" href="~/css/magnific-popup.css">
    <link rel="stylesheet" href="~/css/bootstrap.css">
    <link rel="stylesheet" href="~/css/main.css">
</head>
<body>
    <!-- Start offer Area -->
    <section class="offer-area pt-100" id="offer">
        <div class="container">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="menu-content pb-70 col-lg-8">
                        <div class="title text-center">
                            <h1 id="listaProf"></h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <a asp-controller="Administradors" asp-action="ListAulas">
                        <div class="single-offer">
                            <img class="img-fluid" src="~/img/o1.png" alt="">
                            <h4>Lista de Aulas</h4>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4">
                    <a asp-controller="Administradors" asp-action="CreateAulas">
                        <div class="single-offer">
                            <img class="img-fluid" src="~/img/o2.png" alt="">
                            <h4>Adicionar Aula</h4>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4">
                    <a asp-controller="Administradors" asp-action="IndexMapaAulas">
                        <div class="single-offer">
                            <img class="img-fluid" src="~/img/o3.png" alt="">
                            <h4>Criar mapa semanal</h4>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- End offer Area -->
    <!-- Start Generic Area -->
    <section class="schedule-area section-gap">
        <a class="genric-btn primary e-large" id="criar" style="color:#ffffff">Criar Aula</a>
        <div class="table-wrap col-lg-12">
            <table class="schdule-table table table-bordered">
                <thead class="thead-light">
                    <tr>
                        <th> @Html.DisplayNameFor(model => model.Lotacao)</th>
                        <th>
                            @Html.DisplayNameFor(model => model.ValidadeAte)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ValidadeDe)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DiaDaSemana)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Semana)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Hora)
                        </th>
                        <th>
                            Criado por
                        </th>
                        <th>
                            Tipo de Aula
                        </th>
                        <th>
                            Professor
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Lotacao)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ValidadeAte)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ValidadeDe)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DiaDaSemana)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Semana)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Hora)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IdAdminNavigation.UserName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IdAulaGrupoNavigation.Nome)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IdProfessorNavigation.IdUtilizadorNavigation.Nome)
                            </td>
                            <td>
                                <a style="color:#0094ff" id="editar" class="btn editar" data-id="@item.IdAula">Editar</a> |
                                <a style="color:#0094ff" id="apagar" class="btn apagar" data-id="@item.IdAula" asp-controller="Administradors" asp-action="DeleteAula" asp-route-id="@item.IdAula">Apagar</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </section>

    <section class="schedule-area section-gap">
        <h2>Preview do Mapa de Aulas</h2>
        <partial name="MapaDeAulas" model="Model" />
    </section>

    <div class="modal" id="modal">

    </div>

    <script src="~/js/vendor/jquery-2.2.4.min.js"></script>
    <script src="~/js/vendor/bootstrap.min.js"></script>
    <script src="~/js/easing.min.js"></script>
    <script src="~/js/hoverIntent.js"></script>
    <script src="~/js/superfish.min.js"></script>
    <script src="~/js/jquery.ajaxchimp.min.js"></script>
    <script src="~/js/jquery.magnific-popup.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/jquery.sticky.js"></script>
    <script src="~/js/jquery.nice-select.min.js"></script>
    <script src="~/js/jquery.counterup.min.js"></script>
    <script src="~/js/main.js"></script>
</body>
</html>

@section scripts{
    <script>
        $(function () {
            $(".editar").click(function () {
                var id = $(this).attr("data-id");
                $("#modal").load("EditInstAula?id=" + id, function () {
                    $("#modal").modal();
                })
            });
        })
    </script>
    <script>
        $(function () {
            $("#mensagens").click(function () {
                $("#modal").load("Utilizadores/MenssagensIndex", function () {
                    $("#modal").modal();
                })
            });
        })
    </script>
    <script>
        $(function () {
            $("#criar").click(function () {
                $("#modal").load("CreateInstAula", function () {
                    $("#modal").modal();
                })
            });
        })

        $('#apagar').click(function () {
            var confirmationmessage = "Quer eliminar esta aula?";

            if (!confirm(confirmationmessage)) {

                // !confirm == the user did not confirm. Therefore stop the form submission.

                event.preventDefault(); // --> This stops the form submit from happening.

            } else {
                var id = $(this).attr("data-id");

                window.location.href = 'Administradors/DeleteAula/id=' + id;
            }
        });



    </script>

}


