﻿@model WeWonderGym.Models.Ginasio;
@{
    ViewData["Title"] = "IndexGinasio";
}

<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="~/img/elements/fav.png">
    <!-- Author Meta -->
    <meta name="author" content="colorlib">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>Ginasio</title>

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
    <!--
    CSS
    ============================================= -->
    <link rel="/stylesheet" href="~/css/linearicons.css">
    <link rel="stylesheet" href="~/css/owl.carousel.css">
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/nice-select.css">
    <link rel="stylesheet" href="~/css/magnific-popup.css">
    <link rel="stylesheet" href="~/css/bootstrap.css">
    <link rel="stylesheet" href="~/css/main.css">
</head>
<body>
    <section class="banner-gym relative" id="home" style="max-height:500px;">
        <div class="container">
            <div class="row fullscreen d-flex align-items-start justify-content-start" style="padding-top:12.5%; max-height:500px;">
                <div class="banner-content col-lg-12 col-md-12">
                    <h1 class="text-white">Ginasio</h1>
                    <p class="text-white">Pode alterar as informações dos ginasio, <br> como os contactos, localização, entre outros.</p>
                </div>
            </div>
        </div>
    </section>
    <!-- End banner Area -->
    <!-- About Generic Start -->
    <div class="main-wrapper">
        <section class="about-generic-area section-gap">
            <div style="padding-left:15%;padding-right:15%;">
                <form asp-action="IndexGinasio">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="IdGinasio" />
                    <div class="form-group">
                        <label asp-for="DadosLocalizacaoGps" class="control-label"></label>
                        <input asp-for="DadosLocalizacaoGps" class="form-control" />
                        <span asp-validation-for="DadosLocalizacaoGps" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Endereco" class="control-label"></label>
                        <input asp-for="Endereco" class="form-control" />
                        <span asp-validation-for="Endereco" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NumTelefone" class="control-label"></label>
                        <input asp-for="NumTelefone" class="form-control" />
                        <span asp-validation-for="NumTelefone" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NumTelemovel" class="control-label"></label>
                        <input asp-for="NumTelemovel" class="form-control" />
                        <span asp-validation-for="NumTelemovel" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Atualizar" class="primary-btn align-items-center" />
                    </div>
                </form>
            </div>
        </section>
        <!-- End offer Area -->
        <!-- Start Generic Area -->
        <section class="about-generic-area section-gap">
        </section>

        <!-- End footer Area -->
    </div>

    <div class="modal" id="modal">
    </div>

    <script src="~/js/vendor/jquery-2.2.4.min.js"></script>
    <script src="~/js/vendor/bootstrap.min.js"></script>
    <script src="~/js/easing.min.js"></script>
    <script src="~/js/hoverIntent.js"></script>
    <script src="~/js/superfish.min.js"></script>
    <script src="~/js/jquery.ajaxchimp.min.js"></script>
    <script src="~/js/jquery.magnific-popup.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/jquery.sticky.js"></script>
    <script src="~/js/jquery.nice-select.min.js"></script>
    <script src="~/js/jquery.counterup.min.js"></script>
    <script src="~/js/main.js"></script>
</body>


<script>
    $(function () {
        $("#mensagens").click(function () {
            $("#modal").load("Utilizadores/MenssagensIndex", function () {
                $("#modal").modal();
            })
        });
    })
</script>