﻿@model IEnumerable<WeWonderGym.Models.ExercicioGinasio>

@{
    ViewData["Title"] = "IndexGinasio";
}

<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="~/img/elements/fav.png">
    <!-- Author Meta -->
    <meta name="author" content="colorlib">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>Ginasio</title>

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
    <!--
    CSS
    ============================================= -->
    <link rel="stylesheet" href="~/css/linearicons.css">
    <link rel="stylesheet" href="~/css/owl.carousel.css">
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/nice-select.css">
    <link rel="stylesheet" href="~/css/bootstrap.css">
    <link rel="stylesheet" href="~/css/main.css">
</head>
<body>
    <section class="banner-exercicio relative" id="home" style="max-height:500px;">
        <div class="container">
            <div class="row fullscreen d-flex align-items-start justify-content-start" style="padding-top:12.5%; max-height:500px;">
                <div class="banner-content col-lg-12 col-md-12">
                    <h1 class="text-white">Exercicios</h1>
                    <p class="text-white">Pode adicionar novos exercicios, <br> e alterar os existentes.</p>
                </div>
            </div>
        </div>
    </section>
    <!-- End banner Area -->
    <!-- About Generic Start -->
    <div class="main-wrapper">
        <section class="about-generic-area section-gap">
            <a class="genric-btn primary e-large" id="criar" style="color:#ffffff">Adicionar exercicio</a>
            <partial name="ListExerciciosPartial" model="Model" />
        </section>
        <!-- End offer Area -->
        <!-- Start Generic Area -->
        <section class="about-generic-area section-gap">
        </section>
        <div class="modal" id="modal">

        </div>
        <!-- End footer Area -->
    </div>
    <script src="~/js/vendor/jquery-2.2.4.min.js"></script>
    <script src="~/js/vendor/bootstrap.min.js"></script>
    <script src="~/js/easing.min.js"></script>
    <script src="~/js/hoverIntent.js"></script>
    <script src="~/js/superfish.min.js"></script>
    <script src="~/js/jquery.ajaxchimp.min.js"></script>
    <script src="~/js/jquery.magnific-popup.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/jquery.sticky.js"></script>
    <script src="~/js/jquery.nice-select.min.js"></script>
    <script src="~/js/jquery.counterup.min.js"></script>
    <script src="~/js/main.js"></script>
</body>

@section scripts{
    <script>
        $(function () {
            $("#criar").click(function () {
                $("#modal").load("CreateExercicio", function () {
                    $("#modal").modal();
                })
            });
        })
    </script>

    <script>
        $(function () {
            $("#mensagens").click(function () {
                $("#modal").load("Utilizadores/MenssagensIndex", function () {
                    $("#modal").modal();
                })
            });
        })
    </script>
}
