﻿@model IEnumerable<WeWonderGym.Models.Professor>

@{
    ViewData["Title"] = "ListProfessor";
}

<!DOCTYPE html>
<html lang="zxx" class="no-js">
<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="~/img/elements/fav.png">
    <!-- Author Meta -->
    <meta name="author" content="colorlib">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>Adicionar Professor</title>

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
    <!--
    CSS
    ============================================= -->
    <link rel="/stylesheet" href="~/css/linearicons.css">
    <link rel="stylesheet" href="~/css/owl.carousel.css">
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/nice-select.css">
    <link rel="stylesheet" href="~/css/magnific-popup.css">
    <link rel="stylesheet" href="~/css/bootstrap.css">
    <link rel="stylesheet" href="~/css/main.css">
</head>
<body>
    <div class="main-wrapper">

        <!-- Start offer Area -->
        <section class="offer-area pt-100" id="offer">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="menu-content pb-70 col-lg-8">
                        <div class="title text-center">
                            <h1 id="listaProf"></h1>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <a asp-controller="Administradors" asp-action="ListProfessor">
                            <div class="single-offer">
                                <img class="img-fluid" src="~/img/o1.png" alt="">
                                <h4>Lista de Professores</h4>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4">
                        <a asp-controller="Administradors" asp-action="CreateProf">
                            <div class="single-offer">
                                <img class="img-fluid" src="~/img/o2.png" alt="">
                                <h4>Adicionar Professor</h4>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4">
                        <a asp-controller="Administradors" asp-action="ptProfessor">
                            <div class="single-offer">
                                <img class="img-fluid" src="~/img/o3.png" alt="">
                                <h4>Personal Trainers</h4>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <!-- End offer Area -->
        <!-- Start Generic Area -->
        <section class="schedule-area section-gap">
            <div class="table-wrap col-lg-12">
                <table class="schdule-table table table-bordered">
                    <thead class="thead-light">
                        <tr>
                            <th class="head" scope="col"></th>
                            <th class="head" scope="col">Email</th>
                            <th class="head" scope="col">Nome</th>
                            <th class="head" scope="col">Especialidade</th>
                            <th class="head" scope="col">Estado</th>
                            <th class="head" scope="col">Opções</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <th>
                                    <img src="~/img/Fotos/@item.IdUtilizadorNavigation.Fotografica" style="max-height:100px;max-width:100px;" />
                                </th>
                                <th class="name" scope="row">
                                    @Html.DisplayFor(modelItem => item.IdUtilizadorNavigation.Email)
                                </th>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IdUtilizadorNavigation.Nome)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Especialidade)
                                </td>
                                <td>
                                    @if (item.IdUtilizadorNavigation.Estado == 1)
                                    {
                                        <span> Ativo </span>
                                    }
                                    else
                                    {
                                        <span> Inativo </span>
                                    }
                                </td>
                                <td>
                                    <a style="color:#0094ff" id="editar" class="btn editar" data-id="@item.IdProfessor">Editar<i class="glyphicon glyphicon-file"></i></a>
                                    <a style="color:#0094ff" id="details" class="btn details" data-id="@item.IdProfessor">Detalhes</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </section>
    </div>

    <div class="modal" id="modal">

    </div>
    <script src="~/js/vendor/jquery-2.2.4.min.js"></script>
    <script src="~/js/vendor/bootstrap.min.js"></script>
    <script src="~/js/easing.min.js"></script>
    <script src="~/js/hoverIntent.js"></script>
    <script src="~/js/superfish.min.js"></script>
    <script src="~/js/jquery.ajaxchimp.min.js"></script>
    <script src="~/js/jquery.magnific-popup.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/jquery.sticky.js"></script>
    <script src="~/js/jquery.nice-select.min.js"></script>
    <script src="~/js/jquery.counterup.min.js"></script>
    <script src="~/js/main.js"></script>
</body>
</html>
@section scripts{
    <script>
        $(function () {
            $(".editar").click(function () {
                var id = $(this).attr("data-id");
                $("#modal").load("EditProfessor?id=" + id, function () {
                    $("#modal").modal();
                })
            });
        })
    </script>

    <script>
        $(function () {
            $(".details").click(function () {
                var id = $(this).attr("data-id");
                $("#modal").load("DetailsProfessor?id=" + id, function () {
                    $("#modal").modal();
                })
            });
        })
    </script>


    <script>
        $(function () {
            $("#mensagens").click(function () {
                $("#modal").load("Utilizadores/MenssagensIndex", function () {
                    $("#modal").modal();
                })
            });
        })
    </script>
}



