﻿@model IEnumerable<WeWonderGym.Models.ExercicioGinasio>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="table-wrap col-lg-12" id="tabela">
    <table class="schdule-table table table-bordered">
        <thead class="thead-light">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Foto)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Descricao)
                </th>
                <th>
                    Criado Por
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Video)
                </th>
                <th>
                    Opções
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <img src="~/img/imgExercicios/Fotos/@item.Foto" style="max-height:100px;max-width:100px;" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descricao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdAdminNavigation.UserName)
                    </td>
                    <td>
                        <video width="320" height="240"style="max-height:150px;max-width:150px;"  controls>
                            <source src="~/img/imgExercicios/Video/@item.Video" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    </td>
                    <td>
                        <a asp-controller="Administradors" asp-action="DeleteExercio" asp-route-id="@item.IdExercicio"
                           data-ajax="true"
                           data-ajax-method="GET"
                           data-ajax-mode="replace"
                           data-ajax-update="#tabela"
                           data-ajax-confirm="Tem a certeza que quer apagar este exercicio?">Apagar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>