﻿@model IEnumerable<WeWonderGym.Models.PedidoPt>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="table-wrap col-lg-12" id="box">
    <h2> <br /> <br /> Pedidos </h2>
    @if (ViewBag.status == "not")
    {
        <span style="color:#ff0000;font-size:14px;align-content:center;">Este socio já contem um personal trainer.</span>
    }
    <table class="schdule-table table table-bordered">
        <thead class="thead-light">
            <tr>
                <th class="head" scope="col">Estado</th>
                <th class="head" scope="col">Socio</th>
                <th class="head" scope="col">Professor</th>
                <th class="head" scope="col">Especialidade</th>
                <th class="head" scope="col">Data do Pedido</th>
                <th class="head" scope="col">Opções</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @if (item.Estado == 2)
                        {
                            <span>Analizar</span>
                        }
                        else if (item.Estado == 1)
                        {
                            <span>Aceite</span>
                        }
                        else
                        {
                            <span>Rejeitado</span>
                        }
                    </td>
                    <th>
                        @Html.DisplayFor(modelItem => item.IdSocioNavigation.IdUtilizadorNavigation.Email)
                    </th>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdProfessorNavigation.IdUtilizadorNavigation.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdProfessorNavigation.Especialidade)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataPedido)
                    </td>
                    <td>
                        <a asp-controller="Administradors" asp-action="AceitarPT" asp-route-id="@item.IdPedido" asp-route-idSocio="@item.IdSocio" class="genric-btn info small"
                           data-ajax="true"
                           data-ajax-method="GET"
                           data-ajax-update="#box"
                           data-ajax-mode="replace">Aceitar</a>
                        <a asp-controller="Administradors" asp-action="RejeitarPT" asp-route-id="@item.IdPedido" class="genric-btn primary small"
                           data-ajax="true"
                           data-ajax-method="GET"
                           data-ajax-update="#box"
                           data-ajax-mode="replace">Rejeitar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>