﻿@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<WeWonderGym.Models.Socio>

    <div class="table-wrap col-lg-12" id="tabela">
        <h2>Socios Registados</h2>
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th class="head" scope="col">Email</th>
                    <th class="head" scope="col">Nome</th>
                    <th class="head" scope="col">Estado</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    @if (item.IdUtilizadorNavigation.Estado != 2)
                    {
                        <tr>
                            <th class="name" scope="row">
                                @Html.DisplayFor(modelItem => item.IdUtilizadorNavigation.Email)
                            </th>
                            <th class="name" scope="row">
                                @Html.DisplayFor(modelItem => item.IdUtilizadorNavigation.Nome)
                            </th>
                            <th class="name" scope="row">
                                @if (item.IdUtilizadorNavigation.Estado == 0)
                                {
                                    <span> Inativo </span>
                                }
                                else
                                {
                                    <span> Ativo </span>
                                }
                            </th>
                            <th>
                                <a style="color:#ffffff" class="genric-btn primary small alterar" data-id="@item.IdUtilizadorNavigation.IdUtilizador">Alterar Estado</a>
                            </th>
                        </tr>
                    }
                }
            </tbody>
        </table>



        <h2>Pedidos de socios</h2>
        <table class="schdule-table table table-bordered">
            <thead class="thead-light">
                <tr>
                    <th class="head" scope="col">Email</th>
                    <th class="head" scope="col">Nome</th>
                    <th class="head" scope="col">Estado</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    @if (item.IdUtilizadorNavigation.Estado == 2)
                    {
                        <tr>
                            <th class="name" scope="row">
                                @Html.DisplayFor(modelItem => item.IdUtilizadorNavigation.Email)
                            </th>
                            <th class="name" scope="row">
                                @Html.DisplayFor(modelItem => item.IdUtilizadorNavigation.Nome)
                            </th>
                            <th class="name" scope="row">
                                <span> Em espera </span>
                            </th>
                            <th>
                                <a asp-controller="Administradors" asp-action="AtivarUtl" asp-route-id="@item.IdUtilizador"
                                   data-ajax="true"
                                   data-ajax-method="GET"
                                   data-ajax-mode="replace"
                                   data-ajax-update="#tabela"
                                   data-ajax-confirm="Tem a certeza que quer aceitar este utilizador?">Aceitar</a>
                            </th>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>


