﻿@model WeWonderGym.Models.Utilizador
@{
    Layout = null;
}

<div class="modal-dialog" style="padding-top:15%;" id="box">
    <div class="modal-content" style="padding-top:2%;padding-bottom:2%;padding-left:2%;padding-right:2%;">
        @if (ViewBag.Sucesso == "sucesso")
        {
            <span style="color:#148b3e;font-size:14px;align-content:center;">A alteração realizada com sucesso!</span>
        }
        <form asp-action="AlterarProfile" asp-controller="Socios" enctype="multipart/form-data"
              data-ajax="true"
              data-ajax-method="POST"
              data-ajax-update="#box"
              data-ajax-mode="replace">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdUtilizador" />
            <input type="hidden" asp-for="IdAdmin" />
            <div class="form-group">
                <label asp-for="NumTelefone" class="control-label"></label>
                <input asp-for="NumTelefone" class="form-control" />
                <span asp-validation-for="NumTelefone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fotografica" class="control-label"></label>
                <input type="file" asp-for="Fotografica" class="form-control" />
                <span asp-validation-for="Fotografica" class="text-danger"></span>
            </div>
            <h3>Redefenir Password</h3>
            <p><font color="red">@Html.ValidationMessage("OldPass")</font></p>
            <div class="form-group">
                <label class="control-label">Password Antiga</label>
                <input class="form-control" type="password" name="OldPass" />
                <span asp-validation-for="PalavraPass" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PalavraPass" class="control-label"></label>
                <input asp-for="PalavraPass" class="form-control" type="password" />
                <span asp-validation-for="PalavraPass" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Atualizar" class="genric-btn primary circle" />
                <input type="button" value="Cancelar" class="genric-btn info circle" data-dismiss="modal" />
            </div>
        </form>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
