﻿@model WeWonderGym.Models.ExercicioGinasio
@{
    Layout = null;
}

<div class="modal-dialog" style="padding-top:15%;">
    <div class="modal-content" style="padding-top:2%;padding-bottom:2%;padding-left:2%;padding-right:2%;">
        <div align="center">
            <p style="color:#000000"> Imagem: <br /> </p>
            <img src="~/img/imgExercicios/Fotos/@Model.Foto" style="max-height:350px;max-width:350px;" />
            <p style="color:#000000"> Video:</p>
            <video class="myVideo" width="320" height="200" style="max-height:175px;max-width:175px;" controls>
                <source src="~/img/imgExercicios/Video/@Model.Video" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            <div class="form-group">
                <button type="button" onclick="stopVid" value ="Close" class="genric-btn primary small fecharModal" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->