﻿@model IEnumerable<WeWonderGym.Models.Peso>

@{
    ViewData["Title"] = "Historico";
}

<!DOCTYPE html>
<html lang="zxx" class="no-js">
<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="~/img/elements/fav.png">
    <!-- Author Meta -->
    <meta name="author" content="colorlib">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>Gym</title>

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
    <!--
    CSS
    ============================================= -->
    <link rel="/stylesheet" href="~/css/linearicons.css">
    <link rel="stylesheet" href="~/css/owl.carousel.css">
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/nice-select.css">
    <link rel="stylesheet" href="~/css/magnific-popup.css">
    <link rel="stylesheet" href="~/css/bootstrap.css">
    <link rel="stylesheet" href="~/css/main.css">
</head>
<body>
    <div class="main-wrapper">
        <section class="generic-banner relative">
            <div class="container">
                <div class="row height align-items-center justify-content-center">
                    <div class="col-lg-10">
                        <div class="generic-banner-content">
                            <h2 class="text-white">Perfil</h2>
                            <img src="~/img/Fotos/Utilizador/@ViewBag.socio.IdUtilizadorNavigation.Fotografica" style="max-height:350px;max-width:350px;" />
                            <p><br /><font color="black"><strong>Nome:@ViewBag.socio.IdUtilizadorNavigation.Nome </strong></font><font color="white">  </font></p>
                            <p><font color="black"><strong>Email:@ViewBag.socio.IdUtilizadorNavigation.Email </strong></font><font color="white"> </font></p>
                            <p><font color="black"><strong>Telefone: @ViewBag.socio.IdUtilizadorNavigation.NumTelefone</strong></font><font color="white"> </font></p>
                            <p><font color="black"><strong>Altura: @ViewBag.socio.Altura cm</strong></font><font color="white"> </font></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <a id="alterar" class="genric-btn primary e-large alterar" style="color:#ffffff">Alterar Profile</a>
        <section class="schedule-area section-gap">
            <h2>Historico de Peso</h2>
            <table class="schdule-table table table-bordered">
                <thead class="thead-light">
                    <tr>
                        <th>
                            Data
                        </th>
                        <th>
                            Peso
                        </th>
                        <th>
                            Registado por
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.DataCriacao)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Valor)kg
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IdProfessorNavigation.IdUtilizadorNavigation.Nome)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </section>
        <div class="modal" id="modal">
        </div>
        <h1><br /> <br /> </h1>
    </div>
    <script src="~/js/vendor/jquery-2.2.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="~/js/vendor/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
    <script src="~/js/easing.min.js"></script>
    <script src="~/js/hoverIntent.js"></script>
    <script src="~/js/superfish.min.js"></script>
    <script src="~/js/jquery.ajaxchimp.min.js"></script>
    <script src="~/js/jquery.magnific-popup.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/jquery.sticky.js"></script>
    <script src="~/js/jquery.nice-select.min.js"></script>
    <script src="~/js/parallax.min.js"></script>
    <script src="~/js/waypoints.min.js"></script>
    <script src="~/js/jquery.counterup.min.js"></script>
    <script src="~/js/mail-script.js"></script>
    <script src="~/js/main.js"></script>
</body>
</html>

@section scripts{
    <script>
        $(function () {
            $(".alterar").click(function () {
                $("#modal").load("AlterarProfile", function () {
                    $("#modal").modal();
                })
            });
        })
    </script>
    <script>
        $(function () {
            $("#mensagens").click(function () {
                $("#modal").load("Utilizadores/MenssagensIndex", function () {
                    $("#modal").modal();
                })
            });
        })
    </script>
}
