﻿@model IEnumerable<WeWonderGym.Models.Aula>

@{
    ViewData["Title"] = "Mapa de Aulas";
}

<!DOCTYPE html>
<html lang="zxx" class="no-js">
<head>

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
    <!--
    CSS
    ============================================= -->
    <link rel="stylesheet" href="~/css/linearicons.css">
    <link rel="stylesheet" href="~/css/owl.carousel.css">
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/nice-select.css">
    <link rel="stylesheet" href="~/css/magnific-popup.css">
    <link rel="stylesheet" href="~/css/bootstrap.css">
    <link rel="stylesheet" href="~/css/main.css">
</head>
<body>
    <section class="banner-inscreveaulas relative" id="home" style="max-height:500px;">
        <div class="container">
            <div class="row fullscreen d-flex align-items-start justify-content-start" style="padding-top:12.5%; max-height:500px;">
                <div class="banner-content col-lg-12 col-md-12">
                    <h1 class="text-white">Aulas de Grupo</h1>
                </div>
            </div>
        </div>
    </section>
    <div class="main-wrapper">
        <!-- Start offer Area -->
        <section class="schedule-area section-gap">
            <h2>Mapa de Aulas Ativo</h2>
            <partial name="MapaDeAulas" model="Model" />
        </section>
        <!-- End offer Area -->
        <!-- Start Generic Area -->
        <section>
            <h2 style="position:center;">Inscrições</h2>
            <partial name="InscreverAulaPartial" model="Model" />
        </section>
        <div class="modal" id="modal"></div>
        <footer class="footer-area section-gap">
        </footer>
    </div>
    <script src="~/js/vendor/jquery-2.2.4.min.js"></script>
    <script src="~/js/vendor/bootstrap.min.js"></script>
    <script src="~/js/easing.min.js"></script>
    <script src="~/js/hoverIntent.js"></script>
    <script src="~/js/superfish.min.js"></script>
    <script src="~/js/jquery.ajaxchimp.min.js"></script>
    <script src="~/js/jquery.magnific-popup.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/jquery.sticky.js"></script>
    <script src="~/js/jquery.nice-select.min.js"></script>
    <script src="~/js/jquery.counterup.min.js"></script>
    <script src="~/js/main.js"></script>
</body>
</html>

@section scripts{
    <script>
        $(function () {
            $(".editar").click(function () {
                var id = $(this).attr("data-id");
                $("#modal").load("EditInstAula?id=" + id, function () {
                    $("#modal").modal();
                })
            });
        })
    </script>
    <script>
        $(function () {
            $("#criar").click(function () {
                $("#modal").load("CreateInstAula", function () {
                    $("#modal").modal();
                })
            });
        })
    </script>
    <script>
        function sizing(valor, max) {
            var aux = valor / max * 100;
            $(this).css("width", aux + "%");
        }
    </script>
    <script>
        $(function () {
            $("#mensagens").click(function () {
                $("#modal").load("Utilizadores/MenssagensIndex", function () {
                    $("#modal").modal();
                })
            });
        })
    </script>
}