﻿@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<WeWonderGym.Models.Aula>

@{
    ViewData["Title"] = "InscreverAulaPartial";
    int pp = 0;
}
@{var a = DayOfWeek.Monday;}

<div class="progress-table-wrap" id="tabela">
    <p><font color="red">As inscrições para as aulas apenas abrem uma hora antes da aula!</font></p>
    <div class="progress-table">
        <div class="table-head">
            <div class="inscrever"></div>
            <div class="aula">Aula</div>
            <div class="professor">Professor</div>
            <div class="dia">Dia</div>
            <div class="horas">Hora</div>
            <div class="vagas">Vagas</div>
            <div class="percentage">Inscritos</div>
        </div>
        @foreach (var item in Model)
        {
            <div class="table-row">
                @{
                    switch (item.DiaDaSemana)
                    {
                        case "Segunda":
                             a = DayOfWeek.Monday;
                            break;
                        case "Terça":
                             a = DayOfWeek.Tuesday;
                            break;
                        case "Quarta":
                             a = DayOfWeek.Wednesday;
                            break;
                        case "Quinta":
                             a = DayOfWeek.Thursday;
                            break;
                        case "Sexta":
                             a = DayOfWeek.Friday;
                            break;
                        case "Sabado":
                             a = DayOfWeek.Saturday;
                            break;
                    }
                    if (DateTime.Now >= (Convert.ToDateTime(item.Hora).AddMinutes(-60)) && (DateTime.Now < (Convert.ToDateTime(item.Hora)) && a == DateTime.Now.DayOfWeek))
                    {
                        @if (ViewBag.Inscricao[item.IdAula] == 0)
                        {
                            <div class="inscrever">
                                <a class="genric-btn primary small" style="color:#ffffff"
                                   asp-controller="Socios" asp-action="InscreverAula" asp-route-id="@item.IdAula"
                                   data-ajax="true"
                                   data-ajax-method="GET"
                                   data-ajax-mode="replace"
                                   data-ajax-update="#tabela">Inscrever</a>
                            </div>
                        }
                        else
                        {
                            <div class="inscrever"><a class="genric-btn info small disable" style="color:#000000">Inscrito</a></div>
                        }
                    }
                    else
                    {
                        <div class="inscrever"><a class="genric-btn info small disable" style="color:#000000">Inscrições Fechadas</a></div>
                    }

                }
                <div class="aula">@item.IdAulaGrupoNavigation.Nome</div>
                <div class="professor">@item.IdProfessorNavigation.IdUtilizadorNavigation.Nome</div>
                <div class="dia">@item.DiaDaSemana </div>
                <div class="horas">@item.Hora </div>
                <div class="vagas">@ViewBag.Vagas[item.IdAula] </div>
                <div class="percentage">
                    <div class="progress">
                        <div class="progress-bar color-8" role="progressbar" style="width:10%" aria-valuenow="@ViewBag.Vagas[item.IdAula]" aria-valuemin="0" aria-valuemax="100"></div>
                        <span>@(item.Lotacao - ViewBag.Vagas[item.IdAula]) / @item.Lotacao</span>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

