﻿@model IEnumerable<WeWonderGym.Models.PedidoPt>


<section class="schedule-area section-gap" id="seccao">
    <div class="table-wrap col-lg-12">
        <h1>Professores disponiveis </h1>
        @if (ViewBag.Pedido == false)
        {
            <table class="schdule-table table table-bordered">
                <thead class="thead-light">
                    <tr>
                        <th class="head" scope="col"></th>
                        <th class="head" scope="col">Foto</th>
                        <th class="head" scope="col">Email</th>
                        <th class="head" scope="col">Nome</th>
                        <th class="head" scope="col">Especialidade</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Professor item in ViewBag.Professores)
                    {
                        @if (item.IdUtilizadorNavigation.Estado != 0)
                        {
                            <tr>
                                <td>
                                    <a class="genric-btn primary small" style="color:#ffffff"
                                       asp-controller="Socios" asp-action="RequisitarPT" asp-route-id="@item.IdProfessor"
                                       data-ajax="true"
                                       data-ajax-method="GET"
                                       data-ajax-mode="replace"
                                       data-ajax-update="#seccao">Requisitar</a>
                                </td>
                                <th>
                                    <img src="~/img/Fotos/@item.IdUtilizadorNavigation.Fotografica" style="max-height:100px;max-width:100px;" />
                                </th>
                                <th class="name" scope="row">
                                    @Html.DisplayFor(modelItem => item.IdUtilizadorNavigation.Email)
                                </th>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IdUtilizadorNavigation.Nome)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Especialidade)
                                </td>
                            </tr>
                        }

                    }
                </tbody>
            </table>
        }
        else
        {
            <h4> <br /> Já se encontra com um personal trainer associado ou tem um pedido em curso. <br /> </h4>
        }

    </div>
    <div class="table-wrap col-lg-12">
        <h2> <br /> <br /> Pedidos </h2>
        <table class="schdule-table table table-bordered">
            <thead class="thead-light">
                <tr>
                    <th class="head" scope="col">Estado</th>
                    <th class="head" scope="col">Foto</th>
                    <th class="head" scope="col">Professor</th>
                    <th class="head" scope="col">Especialidade</th>
                    <th class="head" scope="col">Data do Pedido</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    @if (item.IdSocio == ViewBag.IdSocio)
                    {
                        <tr>
                            <td>
                                @if (item.Estado == 2)
                                {
                                    <span> Analizar</span>
                                }
                                else if (item.Estado == 1)
                                {
                                    <span> Aceite</span>
                                }
                                else
                                {
                                    <span> Rejeitado</span>
                                }

                            </td>
                            <th>
                                <img src="~/img/Fotos/@item.IdProfessorNavigation.IdUtilizadorNavigation.Fotografica" style="max-height:100px;max-width:100px;" />
                            </th>
                            <td>
                                @Html.DisplayFor(modelItem => item.IdProfessorNavigation.IdUtilizadorNavigation.Nome)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IdProfessorNavigation.Especialidade)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DataPedido)
                            </td>
                        </tr>
                    }

                }
            </tbody>
        </table>
    </div>

</section>