﻿@model IEnumerable<WeWonderGym.Models.PlanoExercicio>

@{
    ViewData["Title"] = "Mapa de Aulas";
}

<!DOCTYPE html>
<html lang="zxx" class="no-js">
<head>

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
    <!--
    CSS
    ============================================= -->
    <link rel="stylesheet" href="~/css/linearicons.css">
    <link rel="stylesheet" href="~/css/owl.carousel.css">
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/nice-select.css">
    <link rel="stylesheet" href="~/css/magnific-popup.css">
    <link rel="stylesheet" href="~/css/bootstrap.css">
    <link rel="stylesheet" href="~/css/main.css">
</head>
<body>
    <section class="banner-aulas relative" id="home" style="max-height:500px;">
        <div class="container">
            <div class="row fullscreen d-flex align-items-start justify-content-start" style="padding-top:12.5%; max-height:500px;">
                <div class="banner-content col-lg-12 col-md-12">
                    <h1 class="text-white">Plano de Treino</h1>
                </div>
            </div>
        </div>
    </section>
    <div class="main-wrapper">
        <section class="schedule-area section-gap">
            @if (Model != null)
            {
                @foreach (var plano in Model)
                {
                    <p><br /><font color="black"><strong>Professor: </strong></font><font color="black"> @plano.IdProfessorNavigation.IdUtilizadorNavigation.Nome</font></p>
                    <p><font color="black"><strong>Descrição: </strong></font><font color="black"> @plano.Descricao</font></p>
                    <table class="schdule-table table table-bordered">
                        <thead class="thead-light">
                            <tr>
                                <th>
                                    Exercicio
                                </th>
                                <th>
                                    Duração do Periodo de Descanso
                                </th>
                                <th>
                                    Quantidade de Series
                                </th>
                                <th>
                                    Número de Repetições
                                </th>
                                <th>
                                    Duração dos Exercicios
                                </th>
                                <th>
                                    Opções
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (ExercicoPlano item in plano.ExercicoPlano)
                            {
                                <tr>
                                    <td>
                                        @ViewBag.NomePlanos[item.IdExercicio]
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DuracaoPeriodoDescanso)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.QuantidadeSeries)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.NumeroRepeticoes)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DuracaoExercicios)
                                    </td>
                                    <td>
                                        <a class="genric-btn primary small detalhes" style="color:#ffffff" data-id="@item.IdExercicio"> Detalhes</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <h1> <br /> <br /> <br /> </h1>
                }
            }
            else
            {

            }

        </section>
        <!-- End offer Area -->
        <!-- Start Generic Area -->
        <div class="modal" id="modal"></div>
    </div>
    <script src="~/js/vendor/jquery-2.2.4.min.js"></script>
    <script src="~/js/vendor/bootstrap.min.js"></script>
    <script src="~/js/easing.min.js"></script>
    <script src="~/js/hoverIntent.js"></script>
    <script src="~/js/superfish.min.js"></script>
    <script src="~/js/jquery.ajaxchimp.min.js"></script>
    <script src="~/js/jquery.magnific-popup.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/jquery.sticky.js"></script>
    <script src="~/js/jquery.nice-select.min.js"></script>
    <script src="~/js/jquery.counterup.min.js"></script>
    <script src="~/js/main.js"></script>
</body>
</html>
@section scripts{
    <script>
        $(function () {
            $(".detalhes").click(function () {
                var id = $(this).attr("data-id")
                $("#modal").load("DetalhesPlano?id=" + id, function () {
                    $("#modal").modal();
                })
            });
        })
    </script>
    <script>
        function stopVid() {
            var vid = document.getElementsByClassName("myVideo");
            vid.pause();
        }

    </script>
    <script>
        $(function () {
            $("#mensagens").click(function () {
                $("#modal").load("Utilizadores/MenssagensIndex", function () {
                    $("#modal").modal();
                })
            });
        })
    </script>
}
