﻿@model WeWonderGym.Models.PedidoPt

<!DOCTYPE html>
<html lang="zxx" class="no-js">
<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="~/img/elements/fav.png">
    <!-- Author Meta -->
    <meta name="author" content="colorlib">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>Gym</title>

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
    <!--
    CSS
    ============================================= -->
    <link rel="/stylesheet" href="~/css/linearicons.css">
    <link rel="stylesheet" href="~/css/owl.carousel.css">
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/nice-select.css">
    <link rel="stylesheet" href="~/css/magnific-popup.css">
    <link rel="stylesheet" href="~/css/bootstrap.css">
    <link rel="stylesheet" href="~/css/main.css">
</head>
<body>

    <!-- End banner Area -->
    <!-- About Generic Start -->
    <div class="main-wrapper">
        <!-- Start offer Area -->
        <h1> <br /> <br /> </h1>
        <section class="offer-area pt-100" id="offer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4" style="left:15%">
                        <a asp-controller="Socios" asp-action="PerfilPT">
                            <div class="single-offer">
                                <img class="img-fluid" src="~/img/o1.png" alt="">
                                <h4>Personal trainer</h4>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4" style="left:20%">
                        <a asp-controller="Socios" asp-action="ListProfessor">
                            <div class="single-offer">
                                <img class="img-fluid" src="~/img/o2.png" alt="">
                                <h4>Requisitar um Personal Trainer</h4>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <section class="generic-banner relative">
            <div class="container">
                <div class="row height align-items-center justify-content-center">
                    <div class="col-lg-10">
                        <div class="generic-banner-content">
                            @if (Model != null)
                            {
                                <h2 class="text-white">Personal Trainer Perfil</h2>
                                <img src="~/img/Fotos/@Model.IdProfessorNavigation.IdUtilizadorNavigation.Fotografica" style="max-height:500px;max-width:500px;" />
                                <p><br /><font color="black"><strong>Nome: </strong></font><font color="white"> @Model.IdProfessorNavigation.IdUtilizadorNavigation.Nome </font></p>
                                <p><font color="black"><strong>Email: </strong></font><font color="white"> @Model.IdProfessorNavigation.IdUtilizadorNavigation.Email</font></p>
                                <p><font color="black"><strong>Telefone: </strong></font><font color="white"> @Model.IdProfessorNavigation.IdUtilizadorNavigation.NumTelefone</font></p>
                                <p><font color="black"><strong>Especialidade: </strong></font><font color="white"> @Model.IdProfessorNavigation.Especialidade</font></p>
                            }
                            else
                            {
                                <p><font color="black"><strong>Informação: </strong></font><font color="white"> Ainda não tem nenhum personal trainer associado!</font></p>

                            }

                        </div>
                    </div>
                </div>
            </div>
        </section>
        <h1><br /> <br /> </h1>
    </div>

    <div class="modal" id="modal">
    </div>

    <script src="~/js/vendor/jquery-2.2.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="~/js/vendor/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
    <script src="~/js/easing.min.js"></script>
    <script src="~/js/hoverIntent.js"></script>
    <script src="~/js/superfish.min.js"></script>
    <script src="~/js/jquery.ajaxchimp.min.js"></script>
    <script src="~/js/jquery.magnific-popup.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/jquery.sticky.js"></script>
    <script src="~/js/jquery.nice-select.min.js"></script>
    <script src="~/js/parallax.min.js"></script>
    <script src="~/js/waypoints.min.js"></script>
    <script src="~/js/jquery.counterup.min.js"></script>
    <script src="~/js/mail-script.js"></script>
    <script src="~/js/main.js"></script>
</body>
</html>


<script>
    $(function () {
        $("#mensagens").click(function () {
            $("#modal").load("Utilizadores/MenssagensIndex", function () {
                $("#modal").modal();
            })
        });
    })
</script>