﻿@model WeWonderGym.Models.PlanoExercicio

@{
    Layout = null;
}
<head>
    <link rel="stylesheet" href="~/css/bootstrap.css">
</head>

<div class="modal-dialog" style="padding-top:15%;">
    <div class="modal-content" style="padding-top:2%;padding-bottom:2%;padding-left:2%;padding-right:2%;">
        <form asp-action="CreatePlano">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label  class="control-label">Email</label>
                <select asp-for="IdSocio" class="form-control" asp-items="ViewBag.IdSocio"></select>
            </div>
            <div class="form-group">
                <label asp-for="Descricao" class="control-label"></label>
                <input asp-for="Descricao" class="form-control" />
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="genric-btn primary circle" />
                <input type="button" value="Cancelar" class="genric-btn info circle" data-dismiss="modal" />
            </div>
        </form>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->


