﻿@model WeWonderGym.Models.Peso


<div class="row">
    <div class="col-md-4">
        <form asp-action="CreatePeso">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Valor" class="control-label"></label>
                <input asp-for="Valor" class="form-control" />
                <span asp-validation-for="Valor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Adicionar Pesagem" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


