﻿@model WeWonderGym.Models.ExercicoPlano
@{
    Layout = null;
}
<head>
    <link rel="stylesheet" href="~/css/bootstrap.css">
</head>
CreateInstExercicio
<div id="box" class="modal-dialog" style="padding-top:15%;">
    <div class="modal-content" style="padding-top:2%;padding-bottom:2%;padding-left:2%;padding-right:2%;">
        @if (ViewBag.Sucess == "sucesso")
        {
            <span style="color:#148b3e;font-size:14px;align-content:center;"> O exercíco foi adicionado ao plano com sucesso!</span>
        }
        <form asp-action="CreateInstExercicio" enctype="multipart/form-data"
              data-ajax="true"
              data-ajax-method="POST"
              data-ajax-update="#box"
              data-ajax-mode="replace">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdPlano">
            <div class="form-group">
                <label asp-for="IdExercicio" class="control-label"></label>
                <select asp-for="IdExercicio" class="form-control" asp-items="ViewBag.IdExercicio"></select>
            </div>
            <div class="form-group">
                <label asp-for="DuracaoPeriodoDescanso" class="control-label"></label>
                <input asp-for="DuracaoPeriodoDescanso" class="form-control" required />
                <span asp-validation-for="DuracaoPeriodoDescanso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuantidadeSeries" class="control-label"></label>
                <input asp-for="QuantidadeSeries" class="form-control" />
                <span asp-validation-for="QuantidadeSeries" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumeroRepeticoes" class="control-label"></label>
                <input asp-for="NumeroRepeticoes" class="form-control" />
                <span asp-validation-for="NumeroRepeticoes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DuracaoExercicios" class="control-label"></label>
                <input asp-for="DuracaoExercicios" class="form-control" />
                <span asp-validation-for="DuracaoExercicios" class="text-danger"></span>
            </div>
            @if (ViewBag.Sucess == "erro")
            {
                <span style="color:#ff0000;font-size:14px;align-content:center;">Não pode haver exercícios com ordens iguais!</span>
            }
            <div class="form-group">
                <label asp-for="Ordem" class="control-label"></label>
                <input asp-for="Ordem" class="form-control" />
                <span asp-validation-for="Ordem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Adicionar" class="genric-btn primary circle" />
                <input type="button" value="Cancelar" class="genric-btn info circle" data-dismiss="modal" />
            </div>
        </form>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
<