﻿@model WeWonderGym.Models.ExercicoPlano
@{
    Layout = null;
}

<div class="modal-content" style="padding-top:2%;padding-bottom:2%;padding-left:2%;padding-right:2%;">
    <form asp-action="EditExercicos"
          data-ajax="true"
          data-ajax-method="POST"
          data-ajax-mode="replace"
          data-ajax-update="#troca">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="IdExercicio" />
        <input type="hidden" asp-for="IdPlano" />
        <div class="form-group">
            <label asp-for="DuracaoPeriodoDescanso" class="control-label"></label>
            <input asp-for="DuracaoPeriodoDescanso" class="form-control" />
            <span asp-validation-for="DuracaoPeriodoDescanso" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="QuantidadeSeries" class="control-label"></label>
            <input asp-for="QuantidadeSeries" class="form-control" />
            <span asp-validation-for="QuantidadeSeries" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="NumeroRepeticoes" class="control-label"></label>
            <input asp-for="NumeroRepeticoes" class="form-control" />
            <span asp-validation-for="NumeroRepeticoes" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="DuracaoExercicios" class="control-label"></label>
            <input asp-for="DuracaoExercicios" class="form-control" />
            <span asp-validation-for="DuracaoExercicios" class="text-danger"></span>
        </div>
        <input type="hidden" asp-for="Ordem" />
        <div class="form-group">
            <input type="submit" value="Editar" class="btn btn-primary" />
        </div>
    </form>
</div><!-- /.modal-content -->
