﻿@model IEnumerable<WeWonderGym.Models.Aula>

@{
    ViewData["Title"] = "IndexAulas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="zxx" class="no-js">
<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="~/img/elements/fav.png">
    <!-- Author Meta -->
    <meta name="author" content="colorlib">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>Adicionar Professor</title>

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
    <!--
    CSS
    ============================================= -->
    <link rel="stylesheet" href="~/css/linearicons.css">
    <link rel="stylesheet" href="~/css/owl.carousel.css">
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/nice-select.css">
    <link rel="stylesheet" href="~/css/magnific-popup.css">
    <link rel="stylesheet" href="~/css/bootstrap.css">
    <link rel="stylesheet" href="~/css/main.css">
</head>
<body>
    <div class="main-wrapper">
        <section class="generic-banner relative">
            <div class="container">
                <div class="row height align-items-center justify-content-center" style="max-height:500px">
                    <div class="col-lg-10">
                        <div class="generic-banner-content">
                            <h2 class="text-white">Aulas que leciona</h2>
                            <p class="text-white">Pode consultar as aulas que leciona<br> e ver os socios que estão nas mesmas.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End offer Area -->
        <!-- Start Generic Area -->
        <section class="schedule-area section-gap" style="padding-left:1%">
            <div class="table-wrap col-lg-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.IdAulaGrupoNavigation.Nome)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Lotacao)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ValidadeAte)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ValidadeDe)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.DiaDaSemana)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Semana)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Hora)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.IdProfessorNavigation.Especialidade)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IdAulaGrupoNavigation.Nome)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Lotacao)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ValidadeAte)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ValidadeDe)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DiaDaSemana)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Semana)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Hora)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IdProfessorNavigation.Especialidade)
                                </td>
                                <td>
                                    <a style="color:#ffffff" id="Socios" class="genric-btn primary small socios" data-id="@item.IdAula">Socios</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </section>
    </div>

    <div class="modal" id="modal">

    </div>
</body>
</html>
<script src="~/js/vendor/jquery-2.2.4.min.js"></script>
<script src="~/js/vendor/bootstrap.min.js"></script>
<script src="~/js/easing.min.js"></script>
<script src="~/js/hoverIntent.js"></script>
<script src="~/js/superfish.min.js"></script>
<script src="~/js/jquery.ajaxchimp.min.js"></script>
<script src="~/js/jquery.magnific-popup.min.js"></script>
<script src="~/js/owl.carousel.min.js"></script>
<script src="~/js/jquery.sticky.js"></script>
<script src="~/js/jquery.nice-select.min.js"></script>
<script src="~/js/jquery.counterup.min.js"></script>
<script src="~/js/main.js"></script>

@section scripts{
    <script>
        $(function () {
            $(".socios").click(function () {
                var id = $(this).attr("data-id");
                $("#modal").load("ListSociosAula?id=" + id, function () {
                    $("#modal").modal();
                })
            });
        })


    </script>

    <script>
        $(function () {
            $("#mensagens").click(function () {
                $("#modal").load("Utilizadores/MenssagensIndex", function () {
                    $("#modal").modal();
                })
            });
        })
    </script>
}
