﻿@model IEnumerable<WeWonderGym.Models.PlanoExercicio>

<!DOCTYPE html>
<html lang="zxx" class="no-js">
<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="~/img/elements/fav.png">
    <!-- Author Meta -->
    <meta name="author" content="colorlib">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>Adicionar Professor</title>

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
    <!--
    CSS
    ============================================= -->
    <link rel="stylesheet" href="~/css/linearicons.css">
    <link rel="stylesheet" href="~/css/owl.carousel.css">
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/nice-select.css">
    <link rel="stylesheet" href="~/css/magnific-popup.css">
    <link rel="stylesheet" href="~/css/bootstrap.css">
    <link rel="stylesheet" href="~/css/main.css">
</head>
<body>
    <div class="main-wrapper">
        <section class="generic-banner relative">
            <div class="container">
                <div class="row height align-items-center justify-content-center" style="max-height:500px">
                    <div class="col-lg-10">
                        <div class="generic-banner-content">
                            <h2 class="text-white">Planos de Treino</h2>
                            <p class="text-white">Pode aqui visualizar e criar planos  <br> e os sócios correspondentes.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End offer Area -->
        <!-- Start Generic Area -->
        <section class="schedule-area section-gap" style="padding-left:1%">
            <a class="genric-btn primary e-large" style="color:#ffffff" id="criar">Criar Plano</a>
            <div class="table-wrap col-lg-12">
                <table class="schdule-table table table-bordered">
                    <thead class="thead-light">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Descricao)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Ativo)
                            </th>
                            <th>
                                Socio
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Descricao)
                                </td>
                                <td>
                                    @if (item.Ativo == true)
                                    {
                                        <span> Ativo </span>
                                    }
                                    else
                                    {
                                        <span> Inativo </span>
                                    }
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IdSocioNavigation.IdUtilizadorNavigation.Nome)
                                </td>
                                <td>
                                    <a style="color:#ffffff" id="Exercicio" class="genric-btn primary small exercicio" data-id="@item.IdPlano">Exercicios</a>
                                    <a style="color:#ffffff" id="Adicionar" class="genric-btn primary small adicionar" data-id="@item.IdPlano">Adicionar Exercício</a>
                                    @if (item.Ativo == true)
                                    {
                                        <a style="color:#ffffff" id="Desativar" class="genric-btn primary small ativar" data-id="@item.IdPlano" asp-controller="Professores" asp-action="EditEstadoPlano" asp-route-id="@item.IdPlano">Desativar Plano</a>
                                    }
                                    else
                                    {
                                        <a style="color:#ffffff" id="Ativar" class="genric-btn primary small desativar" data-id="@item.IdPlano"asp-controller="Professores" asp-action="EditEstadoPlano"     asp-route-id="@item.IdPlano">Ativar Plano</a>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </section>
    </div>

    <div class="modal" id="modal">

    </div>
    <script src="~/js/vendor/jquery-2.2.4.min.js"></script>
    <script src="~/js/vendor/bootstrap.min.js"></script>
    <script src="~/js/easing.min.js"></script>
    <script src="~/js/hoverIntent.js"></script>
    <script src="~/js/superfish.min.js"></script>
    <script src="~/js/jquery.ajaxchimp.min.js"></script>
    <script src="~/js/jquery.magnific-popup.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/jquery.sticky.js"></script>
    <script src="~/js/jquery.nice-select.min.js"></script>
    <script src="~/js/jquery.counterup.min.js"></script>
    <script src="~/js/main.js"></script>
</body>
</html>

@section scripts{
    <script>
        $(function () {
            $("#criar").click(function () {
                $("#modal").load("CreatePlano", function () {
                    $("#modal").modal();
                })
            });
        })

        $(function () {
            $(".exercicio").click(function () {
                var id = $(this).attr("data-id");
                $("#modal").load("ListExercicios?id=" + id, function () {
                    $("#modal").modal();
                })
            });
        })

        $(function () {
            $(".adicionar").click(function () {
                var id = $(this).attr("data-id");
                $("#modal").load("CreateInstExercicio?idPlano=" + id, function () {
                    $("#modal").modal();
                })
            });
        })

        $(function () {
            $(".editar").click(function () {
                var id = $(this).attr("data-id");
                $("#modal").load("EditExercicos?id=" + id, function () {
                    $("#modal").modal();
                })
            });
        })




    </script>
    <script>
        $(function () {
            $("#mensagens").click(function () {
                $("#modal").load("Utilizadores/MenssagensIndex", function () {
                    $("#modal").modal();
                })
            });
        })
    </script>

}
