﻿@model IEnumerable<WeWonderGym.Models.Inscrever>

@{
    Layout = null;
}
<head>
    <link rel="stylesheet" href="~/css/bootstrap.css">
</head>

<div class="modal-dialog" style="padding-top:15%; max-width:100%; max-height:100%;">
    <div id="troca" class="modal-content" style="padding-top:2%;padding-bottom:2%;padding-left:2%;padding-right:2%;">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.IdAulaNavigation.IdAulaGrupoNavigation.Nome)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IdAulaNavigation.DiaDaSemana)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DataAula)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IdAulaNavigation.IdAulaGrupoNavigation.Descricao)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdAulaNavigation.IdAulaGrupoNavigation.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdAulaNavigation.DiaDaSemana)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataAula)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdAulaNavigation.IdAulaGrupoNavigation.Descricao)
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div><!-- /.modal-dialog -->
