﻿@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<WeWonderGym.Models.ExercicoPlano>

<table class="table" id="tabela">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ordem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdExercicioNavigation.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuantidadeSeries)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumeroRepeticoes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DuracaoExercicios)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DuracaoPeriodoDescanso)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Ordem)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdExercicioNavigation.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.QuantidadeSeries)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumeroRepeticoes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DuracaoExercicios)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DuracaoPeriodoDescanso)
                </td>
                <td>
                    <a asp-controller="Professores" asp-action="EliminarExercicios" asp-route-id="@item.IdExercicio" style="color:#ffffff" class="genric-btn primary small adicionar"
                       data-ajax="true"
                       data-ajax-method="GET"
                       data-ajax-mode="replace"
                       data-ajax-update="#tabela"
                       data-ajax-confirm="Tem a certeza que quer eliminar este exercicio?">Eliminar</a>
                    <a style="color:#ffffff" id="editar" class="genric-btn primary small editar" data-id="@item.IdExercicio" asp-controller="Professores" asp-action="EditExercicos" asp-route-id="@item.IdExercicio"
                       data-ajax="true"
                       data-ajax-method="GET"
                       data-ajax-mode="replace"
                       data-ajax-update="#troca"
                       >Editar</a>
                </td>

            </tr>
        }
    </tbody>
</table>



