﻿@model IEnumerable<WeWonderGym.Models.Socio>



@{
    Layout = null;
}
<head>
    <link rel="stylesheet" href="~/css/bootstrap.css">
</head>

<div class="modal-dialog" style="padding-top:15%; max-width:100%; max-height:100%;">
    <div id="troca" class="modal-content" style="padding-top:2%;padding-bottom:2%;padding-left:2%;padding-right:2%;">
        @if (ViewBag.Sucess == "erro")
        {
            <span style="color:#ff0000;font-size:14px;align-content:center;">Não foi encontrado nenhum email igual ao introduzido. Tente novamente e verifique se o sócio se encontra registado.</span>
        }
        else
        {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.IdUtilizadorNavigation.Email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IdUtilizadorNavigation.Nome)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Altura)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.IdUtilizadorNavigation.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IdUtilizadorNavigation.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Altura)
                        </td>
                        <td>
                            <a style="color:#ffffff" id="Exercicio" class="genric-btn primary small adicionaPeso" data-id="@item.IdSocio" asp-controller="Professores" asp-action="CreatePeso" asp-route-id="@item.IdSocio"
                               data-ajax="true"
                               data-ajax-method="GET"
                               data-ajax-mode="replace"
                               data-ajax-update="#troca">Adicionar Peso</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        }
    </div>
</div><!-- /.modal-dialog -->
