﻿@model IEnumerable<WeWonderGym.Models.PedidoPt>


<!DOCTYPE html>
<html lang="zxx" class="no-js">
<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="~/img/elements/fav.png">
    <!-- Author Meta -->
    <meta name="author" content="colorlib">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>Adicionar Professor</title>

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
    <!--
    CSS
    ============================================= -->
    <link rel="/stylesheet" href="~/css/linearicons.css">
    <link rel="stylesheet" href="~/css/owl.carousel.css">
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/nice-select.css">
    <link rel="stylesheet" href="~/css/magnific-popup.css">
    <link rel="stylesheet" href="~/css/bootstrap.css">
    <link rel="stylesheet" href="~/css/main.css">
</head>
<body>
    <!-- Start offer Area -->
    <section class="offer-area pt-100" id="offer">
        <div class="container">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="menu-content pb-70 col-lg-8">
                        <div class="title text-center">
                            <h1 id="listaProf"></h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4" style="left:15%">
                    <a asp-controller="Professores" asp-action="ListSociosPT">
                        <div class="single-offer">
                            <img class="img-fluid" src="~/img/o1.png" alt="">
                            <h4>Sócios Personal Trainer</h4>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4" style="left:20%">
                    <a asp-controller="Professores" asp-action="Pesagem">
                        <div class="single-offer">
                            <img class="img-fluid" src="~/img/o2.png" alt="">
                            <h4>Pesagem</h4>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- End offer Area -->
    <!-- Start Generic Area -->
    <section class="schedule-area section-gap">
        <div class="table-wrap col-lg-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.IdSocioNavigation.IdUtilizadorNavigation.Nome)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.IdSocioNavigation.IdUtilizadorNavigation.Email)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.IdSocioNavigation.Altura)
                        </th>

                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.IdSocioNavigation.IdUtilizadorNavigation.Nome)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IdSocioNavigation.IdUtilizadorNavigation.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IdSocioNavigation.Altura)
                            </td>

                            <td>
                                <a style="color:#ffffff" id="Ativar" class="genric-btn primary small historico" data-id="@item.IdSocio">Histórico Aulas</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>



        </div>
    </section>
    </div>
    <section class="about-generic-area section-gap">
    </section>

    <div class="modal" id="modal">

    </div>



</body>
</html>

<script src="~/js/vendor/jquery-2.2.4.min.js"></script>
<script src="~/js/vendor/bootstrap.min.js"></script>
<script src="~/js/easing.min.js"></script>
<script src="~/js/hoverIntent.js"></script>
<script src="~/js/superfish.min.js"></script>
<script src="~/js/jquery.ajaxchimp.min.js"></script>
<script src="~/js/jquery.magnific-popup.min.js"></script>
<script src="~/js/owl.carousel.min.js"></script>
<script src="~/js/jquery.sticky.js"></script>
<script src="~/js/jquery.nice-select.min.js"></script>
<script src="~/js/jquery.counterup.min.js"></script>
<script src="~/js/main.js"></script>

@section scripts{
        <script>
            $(function () {
                $(".historico").click(function () {
                    var id = $(this).attr("data-id");
                    $("#modal").load("ListHistorico?id=" + id, function () {
                        $("#modal").modal();
                    })
                });
            })
        </script>
        <script>
            $(function () {
                $("#mensagens").click(function () {
                    $("#modal").load("Utilizadores/MenssagensIndex", function () {
                        $("#modal").modal();
                    })
                });
            })
        </script>
    }
