﻿@model IEnumerable<WeWonderGym.Models.ExercicoPlano>
@{
    Layout = null;
}
<head>
    <link rel="stylesheet" href="~/css/bootstrap.css">
</head>

<div  class="modal-dialog" style="padding-top:15%; max-width:100%; max-height:100%;">
    <div id="troca" class="modal-content" style="padding-top:2%;padding-bottom:2%;padding-left:2%;padding-right:2%;">
        <partial name="ListPartialExercicios" model="Model" />
    </div>
</div><!-- /.modal-dialog -->
