﻿@model IEnumerable<WeWonderGym.Models.Inscrever>
@{
    Layout = null;
}


<head>
    <link rel="stylesheet" href="~/css/bootstrap.css">
</head>

<div class="modal-dialog" style="padding-top:15%; max-width:100%; max-height:100%;">
    <div class="modal-content" style="padding-top:2%;padding-bottom:2%;padding-left:2%;padding-right:2%;">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.IdSocioNavigation.IdUtilizadorNavigation.Nome)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IdSocioNavigation.Altura)
                    </th>
                     <th>
                        @Html.DisplayNameFor(model => model.DataAula)
                    </th>


                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdSocioNavigation.IdUtilizadorNavigation.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdSocioNavigation.Altura)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataAula)
                    </td>


                </tr>
                }
            </tbody>
        </table>
    </div>
</div><!-- /.modal-dialog -->
