﻿@model WeWonderGym.Models.GinasioAulas
@{
    var auau = 0;
}

<!DOCTYPE html>
<html lang="zxx" class="no-js">
<head>

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
    <!--
    CSS
    ============================================= -->
    <link rel="stylesheet" href="css/linearicons.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/nice-select.css">
    <link rel="stylesheet" href="css/animate.min.css">
    <link rel="stylesheet" href="css/owl.carousel.css">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <!-- start banner Area -->
    <section class="banner-area relative" id="home">
        <div class="overlay overlay-bg"></div>
        <div class="container">
            <div class="row fullscreen d-flex align-items-center justify-content-start">
                <div class="banner-content col-lg-12 col-md-12">
                    <h1 class="text-uppercase">
                        Real Fitness <br>
                        Depends on Exercise
                    </h1>
                    <p class="text-white text-uppercase pt-20 pb-20">
                        Shape your body well.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- End banner Area -->
    <!-- Start offer Area -->
    <section class="offer-area section-gap" id="offer">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="menu-content pb-70 col-lg-8">
                    <div class="title text-center">
                        <h1 class=" mb-10">We care about what we offer</h1>
                        <p>Who are in extremely love with eco friendly system.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="single-offer">
                        <img class="img-fluid" src="img/o1.png" alt="">
                        <h4>Regular Exercise</h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                        </p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-offer">
                        <img class="img-fluid" src="img/o2.png" alt="">
                        <h4>Training on the go</h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                        </p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-offer">
                        <img class="img-fluid" src="img/o3.png" alt="">
                        <h4>Body Building Packages</h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End convert Area -->
    <!-- Start top-course Area -->
    <section class="top-course-area section-gap" id="top-course">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="menu-content pb-70 col-lg-9">
                    <div class="title text-center">
                        <h1 class="mb-10">Top Courses That are open for Students</h1>
                        <p>Who are in extremely love with eco friendly system.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="single-course">
                        <div class="thumb">
                            <img class="img-fluid" src="img/c1.jpg" alt="">
                        </div>
                        <span class="course-status">Course Available</span>
                        <a href="#"><h4>Running Classes <span>$275</span></h4></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-course">
                        <div class="thumb">
                            <img class="img-fluid" src="img/c2.jpg" alt="">
                        </div>
                        <span class="course-status">Course Available</span>
                        <a href="#"><h4>Weight Lifting Classes <span>$200</span></h4></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-course">
                        <div class="thumb">
                            <img class="img-fluid" src="img/c3.jpg" alt="">
                        </div>
                        <span class="course-status">Course Available</span>
                        <a href="#"><h4>Body Combat Classes <span>$225</span></h4></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-course">
                        <div class="thumb">
                            <img class="img-fluid" src="img/c4.jpg" alt="">
                        </div>
                        <span class="course-status">Course Available</span>
                        <a href="#"><h4>Organic Yoga Classes <span>$300</span></h4></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-course">
                        <div class="thumb">
                            <img class="img-fluid" src="img/c5.jpg" alt="">
                        </div>
                        <span class="course-status">Course Available</span>
                        <a href="#"><h4>Raw Fitness Classes <span>$500</span></h4></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-course">
                        <div class="thumb">
                            <img class="img-fluid" src="img/c6.jpg" alt="">
                        </div>
                        <span class="course-status">Course Available</span>
                        <a href="#"><h4>Body Building Classes <span>$250</span></h4></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End top-course Area -->
    <!-- Start feature Area -->
    <section class="feature-area">
        <div class="container-fluid">
            <div class="row justify-content-center align-items-center">
                <div class="col-lg-3 feat-img no-padding">
                    <img class="img-fluid" src="img/f1.jpg" alt="">
                </div>
                <div class="col-lg-3 no-padding feat-txt">
                    <h6 class="text-uppercase text-white">Basic & Common Repairs</h6>
                    <h1>Basic Revolutions</h1>
                    <p>
                        Computer users and programmers have become so accustomed to using Windows, even for the changing capabilities and the appearances of the graphical.
                    </p>
                </div>
                <div class="col-lg-3 feat-img no-padding">
                    <img class="img-fluid" src="img/f2.jpg" alt="">
                </div>
                <div class="col-lg-3 no-padding feat-txt">
                    <h6 class="text-uppercase text-white">Basic & Common Repairs</h6>
                    <h1>Basic Revolutions</h1>
                    <p>
                        Computer users and programmers have become so accustomed to using Windows, even for the changing capabilities and the appearances of the graphical.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- End feature Area -->
    <!-- Start schedule Area -->
    <section class="schedule-area section-gap" id="schedule">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="menu-content pb-70 col-lg-8">
                    <div class="title text-center">
                        <h1 class="mb-10">Schedule your Fitness Process</h1>
                        <p>Who are in extremely love with eco friendly system.</p>
                    </div>
                </div>
            </div>
            <div id="mapaAula" onload="loadView">
                <partial name="MapaDeAulas" model=@Model.AulaModel>
            </div>
        </div>
    </section>
    <!-- End schedule Area -->
    <!-- Start team Area -->
    <section class="team-area section-gap" id="trainer">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="menu-content pb-70 col-lg-8">
                    <div class="title text-center">
                        <h1 class="mb-10">Our Experienced Trainers</h1>
                        <p>Who are in extremely love with eco friendly system.</p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center d-flex align-items-center">
                <div class="col-md-3 single-team">
                    <div class="thumb">
                        <img class="img-fluid" src="img/t1.jpg" alt="">
                        <div class="align-items-center justify-content-center d-flex">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="meta-text mt-30 text-center">
                        <h4>Ethel Davis</h4>
                        <p>Managing Director (Sales)</p>
                    </div>
                </div>
                <div class="col-md-3 single-team">
                    <div class="thumb">
                        <img class="img-fluid" src="img/t2.jpg" alt="">
                        <div class="align-items-center justify-content-center d-flex">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="meta-text mt-30 text-center">
                        <h4>Rodney Cooper</h4>
                        <p>Creative Art Director (Project)</p>
                    </div>
                </div>
                <div class="col-md-3 single-team">
                    <div class="thumb">
                        <img class="img-fluid" src="img/t3.jpg" alt="">
                        <div class="align-items-center justify-content-center d-flex">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="meta-text mt-30 text-center">
                        <h4>Dora Walker</h4>
                        <p>Senior Core Developer</p>
                    </div>
                </div>
                <div class="col-md-3 single-team">
                    <div class="thumb">
                        <img class="img-fluid" src="img/t4.jpg" alt="">
                        <div class="align-items-center justify-content-center d-flex">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="meta-text mt-30 text-center">
                        <h4>Lena Keller</h4>
                        <p>Creative Content Developer</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End team Area -->
    <!-- End brand Area -->
    <!-- Start callto Area -->
    <section class="callto-area section-gap relative" id="aderir">
        <div class="overlay overlay-bg"></div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <h1 class="text-white">Venha treinar connosco!</h1>
                    <br />
                    <a class="primary-btn criarSocio" style="color:#ffffff">Torne-se Socio!</a>
                </div>
            </div>
        </div>
    </section>
    <!-- End callto Area -->
    <!-- start footer Area -->
    <footer class="footer-area section-gap">
        <div class="container" id="contactos">
            <div class="row">
                <div class="col-lg-3  col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h4>About Us</h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore dolore magna aliqua.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4  col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h4>Os nossos contactos</h4>
                        <p>
                            Tem algum duvida? Não existem em contactar nós!
                        </p>
                        <p class="number">
                            @Model.GinasioModel.NumTelefone <br>
                            @Model.GinasioModel.NumTelemovel
                        </p>
                        <p class="string">
                            @Model.GinasioModel.Email
                        </p>
                    </div>
                </div>
                <div class="col-lg-5  col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h4>Newsletter</h4>
                        <p>You can trust us. we only send  offers, not a single spam.</p>
                        <div class="d-flex flex-row" id="mc_embed_signup">


                            <form style="max-width" navbar-form" novalidate="true" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get">
                                <div class="input-group add-on">
                                    <input class="form-control" name="EMAIL" placeholder="Email address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email address'" required="" type="email">
                                    <div style="position: absolute; left: -5000px;">
                                        <input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
                                    </div>
                                    <div class="input-group-btn">
                                        <button class="genric-btn"><span class="lnr lnr-arrow-right"></span></button>
                                    </div>
                                </div>
                                <div class="info mt-20"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom row">
                <p class="footer-text m-0 col-lg-6">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart3" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
                <div class="footer-social col-lg-6">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-dribbble"></i></a>
                    <a href="#"><i class="fa fa-behance"></i></a>
                </div>
            </div>
            <html>
            <head>
                <script src="https://maps.googleapis.com/maps/api/js?"></script>
            </head>
            <body onload="DisplayGoogleMap()">
                <div id="myDiv" style="width:100%;height:400px;"></div>

                <script type="text/javascript">
                    function DisplayGoogleMap() {
                        
                        //Set the Latitude and Longitude of the Map
                        var myAddress = new google.maps.LatLng(41.30636111111111, -7.746138888888889);

                        //Create Options or set different Characteristics of Google Map
                        var mapOptions = {
                            center: myAddress,
                            zoom: 15,
                            minZoom: 15,
                            mapTypeId: google.maps.MapTypeId.ROADMAP
                        };

                        //Display the Google map in the div control with the defined Options
                        var map = new google.maps.Map(document.getElementById("myDiv"), mapOptions);

                        //Set Marker on the Map
                        var marker = new google.maps.Marker({
                            position: myAddress,
                            animation: google.maps.Animation.BOUNCE,
                        });

                        marker.setMap(map);
                    }
                </script>
            </body>
        </html>
        </div>
        <div class="modal" id="modal">

        </div>

    </footer>
    <!-- End footer Area -->
    <script src="js/vendor/jquery-2.2.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="js/vendor/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
    <script src="js/easing.min.js"></script>
    <script src="js/hoverIntent.js"></script>
    <script src="js/superfish.min.js"></script>
    <script src="js/jquery.ajaxchimp.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.sticky.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/parallax.min.js"></script>
    <script src="js/waypoints.min.js"></script>
    <script src="js/jquery.counterup.min.js"></script>
    <script src="js/mail-script.js"></script>
    <script src="js/main.js"></script>
</body>
</html>
@section scripts
{

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCrls70xToFgBFpLcGyQUl9EQH88_GVLNM"></script>
    <script>
        $(function () {
            $(".criarSocio").click(function () {
                $("#modal").load("Utilizadores/Create", function () {
                    $("#modal").modal();
                })
            });
        })
    </script>

    <script>
        function loadView() {
            $.ajax({
                url: '/Home/Students',
                type: 'GET',
                cache: false,
                async: true,
                dataType: "html"
            })
                .done(function (result) {
                    $("mapaAulas").html(result)
                })
        }
    </script>

    <script>
        $(function () {
            $("#login").click(function () {
                $("#modal").load("Utilizadores/Login", function () {
                    $("#modal").modal();
                })
            });
        })
    </script>

    <script>
        $(function () {
            $("#mensagens").click(function () {
                $("#modal").load("Utilizadores/MenssagensIndex", function () {
                    $("#modal").modal();
                })
            });
        })
    </script>





}
